<main class="public">
  <article class="w-100 bg-grey mb-5">
    <div class="container">
      <section class="row justify-content-center">
        <div class="col">
          <div class="card border-0 bg-grey">
            <div class="card-body text-center">
              <h1 class="card-title text-dark-purple font-weight-bold">Fotografías de eventos</h1>
              <div class="card-text text-justify">
                <p>Cada vez que realizamos algún evento, realizamos diferentes sesiones fotográficas por todo el evento para así recordarlo siempre. En esta
                  sección presentamos todos los álbumes de fotografías.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </article>

  <article class="w-100 mb-4 posts">
    <div class="container">
      <div class="row">
        <section class="col-md-4 d-flex align-items-stretch">
          <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x500" alt="Primera imagen del álbum">
            <div class="card-body text-justify">
              <h2 class="card-title">Nombre del álbum</h2>
              <div class="row mb-3">
                <div class="col"><strong class="font-weight-bold">Evento: </strong> Nombre del evento</div>
              </div>
              <div class="row mb-3">
                <div class="col"><strong class="font-weight-bold">Número de fotografías: </strong> 10</div>
              </div>
              <a href="#" class="btn btn-primary mt-3">Ver fotografías</a>
            </div>
          </div>
        </section>
        <section class="col-md-4 d-flex align-items-stretch">
          <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x500" alt="Primera imagen del álbum">
            <div class="card-body text-justify">
              <h2 class="card-title">Nombre del álbum</h2>
              <div class="row mb-3">
                <div class="col"><strong class="font-weight-bold">Evento: </strong> Nombre del evento</div>
              </div>
              <div class="row mb-3">
                <div class="col"><strong class="font-weight-bold">Número de fotografías: </strong> 10</div>
              </div>
              <a href="#" class="btn btn-primary mt-3">Ver fotografías</a>
            </div>
          </div>
        </section>
        <section class="col-md-4 d-flex align-items-stretch">
          <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x500" alt="Primera imagen del álbum">
            <div class="card-body text-justify">
              <h2 class="card-title">Nombre del álbum</h2>
              <div class="row mb-3">
                <div class="col"><strong class="font-weight-bold">Evento: </strong> Nombre del evento</div>
              </div>
              <div class="row mb-3">
                <div class="col"><strong class="font-weight-bold">Número de fotografías: </strong> 10</div>
              </div>
              <a href="#" class="btn btn-primary mt-3">Ver fotografías</a>
            </div>
          </div>
        </section>
        <section class="col-md-4 d-flex align-items-stretch">
          <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x500" alt="Primera imagen del álbum">
            <div class="card-body text-justify">
              <h2 class="card-title">Nombre del álbum</h2>
              <div class="row mb-3">
                <div class="col"><strong class="font-weight-bold">Evento: </strong> Nombre del evento</div>
              </div>
              <div class="row mb-3">
                <div class="col"><strong class="font-weight-bold">Número de fotografías: </strong> 10</div>
              </div>
              <a href="#" class="btn btn-primary mt-3">Ver fotografías</a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </article>

</main>