 <main class="public">
   <article class="w-100 bg-grey">
     <div class="container">
       <section class="row justify-content-center">
         <div class="col">
           <div class="card border-0 bg-grey">
             <div class="card-body text-center">
               <h1 class="card-title text-dark-purple font-weight-bold">Registro para visitantes</h1>
               <div class="card-text text-center">
                 <p>Si te registras como visitante, podrás posteriormente mandar una solicitud para entrar en Onyxia en el caso de que lo desees.</p>
               </div>
             </div>
           </div>
         </div>
       </section>
     </div>
   </article>

   <article class="w-100 bg-grey pb-5">
     <div class="container">
       <div class="card card-form">
         <section class="card-heading"></section>
         <section class="card-body p-5">
           <h2 class="title">Registro</h2>
           <div class="d-flex d-inline-flex">
             <span class="h2 text-info">*</span>
             <span class="form-text text-muted mb-4 font-weight-bolder">Campos obligatorios</span>
           </div>
           <form autocomplete="off" [formGroup]="registroForm" (ngSubmit)="registrarse()" enctype="multipart/form-data">
             <div class="form-row">
               <div class="form-group col-12 col-md-3">
                 <label for="nombre" class="sr-only">Nombre</label>
                 <div class="input-group">
                   <input id="nombre" formControlName="nombre" type="text" class="form-control" placeholder="Nombre" required><sub
                     class="h2 text-info mb-0">*</sub>
                 </div>
                 <small class="form-text alert alert-danger py-1 pl-1" *ngIf="formEnviado && validarCampo('nombre')">Debes indicar tu nombre</small>

               </div>
               <div class="form-group col-12 col-md-5">
                 <label for="apellidos" class="sr-only">Apellidos</label>
                 <div class="input-group">
                   <input id="apellidos" formControlName="apellidos" type="text" class="form-control" placeholder="Apellidos" required><sub
                     class="h2 text-info mb-0">*</sub>
                 </div>
                 <small class="form-text alert alert-danger py-1 pl-1" *ngIf="formEnviado && validarCampo('apellidos')">Debes indicar tus
                   apellidos</small>
               </div>
               <div class="form-group col-12 col-md-4">
                 <label for="alias" class="sr-only">Alias</label>
                 <div class="input-group">
                   <input id="alias" formControlName="alias" type="text" class="form-control" placeholder="Alias">
                 </div>
               </div>
             </div>
             <div class="form-row">
               <div class="form-group col-12 col-md-4">
                 <label for="email" class="sr-only">Correo electrónico</label>
                 <div class="input-group">
                   <input id="correoElectronico" formControlName="correoElectronico" type="email" class="form-control" placeholder="Correo electrónico"
                     required><sub class="h2 text-info mb-0">*</sub>
                 </div>
                 <small class="form-text alert alert-danger py-1 pl-1" *ngIf="formEnviado && validarCampo('correoElectronico')">Debes indicar tu correo
                   electrónico en el formato correcto</small>
               </div>
               <div class="form-group col-12 col-md-4">
                 <label for="telefono" class="sr-only">Número de teléfono</label>
                 <div class="input-group">
                   <input id="telefono" formControlName="numeroTelefono" type="text" class="form-control" placeholder="Número de teléfono">
                 </div>
               </div>
               <div class="form-group col-12 col-md-4">
                 <label for="fechaNacimiento" class="sr-only">Fecha de nacimiento</label>
                 <div class="input-group">
                   <input id="fechaNacimiento" formControlName="fechaNacimiento" type="text" onfocus="(this.type='date')" class="form-control"
                     placeholder="Fecha de nacimiento" required aria-describedby="fechaNacimiento-help">
                   <sub class="h2 text-info mb-0">*</sub>
                 </div>
                 <small id="fechaNacimiento-help" class="form-text text-muted">Formato correcto: dd/mm/aaaa</small>
                 <small class="form-text alert alert-danger py-1 pl-1" *ngIf="formEnviado && validarCampo('fechaNacimiento')">Debes indicar tu fecha de
                   nacimiento</small>
               </div>
             </div>
             <div class="form-row">
               <div class="form-group col-12 col-md-6">
                 <label for="usuario" class="sr-only">Usuario</label>
                 <div class="input-group">
                   <input id="usuario" formControlName="usuario" type="text" class="form-control" placeholder="Usuario" required> <sub
                     class="h2 text-info mb-0">*</sub>
                 </div>
                 <small class="form-text alert alert-danger py-1 pl-1" *ngIf="formEnviado && validarCampo('usuario')">Debes indicar un nombre de usuario entre 5
                   y 32 caracteres</small>
               </div>
               <div class="form-group col-12 col-md-6">
                 <label for="contraseña" class="sr-only">Contraseña</label>
                 <div class="input-group">
                   <input id="contraseña" formControlName="contraseña" type="password" class="form-control" placeholder="Contraseña" required> <sub
                     class="h2 text-info mb-0">*</sub>
                 </div>
                 <small class="form-text alert alert-danger py-1 pl-1" *ngIf="formEnviado && validarCampo('contraseña')">Debes indicar una contraseña entre 5 y
                   32 caracteres</small>
               </div>

             </div>
             <fieldset class="form-group">
               <div class="form-row">
                 <legend class="h5 pl-2 pb-2">Indícanos si quieres una de tus redes sociales:</legend>
                 <div class="py-3 py-md-0 col-12 col-md-4">
                   <label for="nombreRedSocial" class="sr-only">Nombre de la red social</label>
                   <div class="input-group">
                     <input id="nombreRedSocial" formControlName="nombreRedSocial" type="text" class="form-control" placeholder="Nombre de la red social">
                   </div>
                 </div>
                 <div class="py-3 py-md-0 col-12 col-md-4">
                   <label for="enlaceRedSocial" class="sr-only">Enlace de la red social</label>
                   <div class="input-group">
                     <input id="enlaceRedSocial" formControlName="enlaceRedSocial" type="text" class="form-control" placeholder="Enlace de la red social">
                   </div>
                 </div>
                 <div class="py-3 py-md-0 col-12 col-md-4">
                   <label for="usuarioRedSocial" class="sr-only">Usuario de la red social</label>
                   <div class="input-group">
                     <input id="usuarioRedSocial" formControlName="usuarioRedSocial" type="text" class="form-control" placeholder="Usuario de la red social">
                   </div>
                 </div>
               </div>
             </fieldset>
             <button class="btn btn-primary" type="submit">Enviar</button>
           </form>
         </section>
       </div>
     </div>
   </article>
 </main>