<main class="container-fluid">
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <app-titulo-private></app-titulo-private>
    </div>
  </div>

  <div class="row" *ngIf="actorLogeado">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form class="form-horizontal" role="form">
            <div class="form-body">
              <h3 class="box-title">Información del perfil</h3>
              <hr class="m-t-0 m-b-40">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label col-4">Nombre:</label>
                    <div class="col-8">
                      <p class="form-control-static">{{actorLogeado.nombre}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label col-4">Apellidos:</label>
                    <div class="col-8">
                      <p class="form-control-static">{{actorLogeado.apellidos}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label col-4">Correo electrónico:</label>
                    <div class="col-8">
                      <p class="form-control-static">{{actorLogeado.correoElectronico}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label col-4">Fecha de nacimiento:</label>
                    <div class="col-8">
                      <p class="form-control-static">{{actorLogeado.fechaNacimiento | date: 'dd/MM/yyyy'}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label col-4">Alias:</label>
                    <div class="col-8">
                      <p class="form-control-static">{{actorLogeado.alias}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label col-4">Número de teléfono:</label>
                    <div class="col-6">
                      <p class="form-control-static">{{actorLogeado.numeroTelefono}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="!esVisitante">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="control-label col-4">Dirección:</label>
                      <div class="col-8">
                        <p class="form-control-static">{{actorLogeado.direccion}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="control-label col-4">DNI</label>
                      <div class="col-6">
                        <p class="form-control-static">{{actorLogeado.dni}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="control-label col-4">Aficiones:</label>
                      <div class="col-8">
                        <p class="form-control-static">{{actorLogeado.aficiones}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="control-label col-4">Coche propio:</label>
                      <div class="col-8">
                        <p class="form-control-static">{{actorLogeado.tieneCochePropio ? 'Sí' : 'No'}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="control-label col-4">Fotografía:</label>
                      <div class="col-8">
                        <img [src]="actorLogeado.fotografia" class="form-control-static img-fluid img-thumbnail w-50" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h3 class="box-title m-t-30">Cuenta de usuario</h3>
              <hr class="m-t-0 m-b-40">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label col-4">Usuario:</label>
                    <div class="col-8">
                      <p class="form-control-static">{{actorLogeado.cuentaUsuario.usuario}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label col-4">Rol:</label>
                    <div class="col-8">
                      <p class="form-control-static">{{actorLogeado.rol}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-actions">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                      <button [routerLink]="['/private/actor/self-form']" type="submit" class="btn btn-info"> <i class="fa fa-pencil"></i>
                        Editar</button> </div>
                  </div>
                </div>
                <div class="col-md-6"> </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>