   <aside class="left-sidebar">
     <div class="scroll-sidebar">
       <nav class="sidebar-nav" *ngIf="actor">
         <ul id="sidebarnav">
           <li class="user-profile">
             <a class="has-arrow waves-effect waves-dark" href="#menu0" aria-expanded="false" data-toggle="collapse">
               <div class="row row-no-padding">
                 <div class="col-3">
                   <img [src]="actor.fotografia" />
                 </div>
                 <div class="col-9">
                   <span class="hide-menu">{{actor.nombre}} {{actor.apellidos}}</span>
                 </div>
               </div>
             </a>
             <ul aria-expanded="false" class="collapse" id="menu0">
               <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngFor="let item of menuPerfil">
                 <a class="nav-link" *ngIf="item.url !== '/logout'" [routerLink]="item.url">{{item.titulo}}</a>
                 <a class="nav-link" *ngIf="item.url === '/logout'" [routerLink]="item.url" (click)="logout()">{{item.titulo}}</a>
               </li>
             </ul>
           </li>
           <li class="nav-devider"></li>
           <li class="nav-small-cap">{{actor.cuentaUsuario.autoridad}} </li>
           <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngFor="let item of menuLateral">
             <a class="has-arrow waves-effect waves-dark" href="{{'#' + item.identificador}}" aria-expanded="false" data-toggle="collapse">
               <i class="{{item.claseIcono}}"></i>
               <span class="hide-menu">{{item.titulo}}</span></a>
             <ul aria-expanded="false" class="collapse" id="{{item.identificador}}">
               <li *ngFor="let subItem of item.submenu">
                 <a [routerLink]="subItem.url">{{subItem.titulo}}</a>
               </li>
             </ul>
           </li>
         </ul>
       </nav>
     </div>
   </aside>