   <aside class="left-sidebar">
     <div class="scroll-sidebar">
       <nav class="sidebar-nav">
         <ul id="sidebarnav">
           <li class="user-profile">
             <a class="has-arrow waves-effect waves-dark" href="#menu0" aria-expanded="false" data-toggle="collapse">
               <img src="./assets/images/junta-presidente.jpg" alt="user" />
               <span class="hide-menu">Steave Jobs </span>
             </a>
             <ul aria-expanded="false" class="collapse" id="menu0">
               <li><a href="private/actor/display">Mi perfil </a></li>
               <li><a href="javascript:void()">Notificaciones</a></li>
               <li><a href="javascript:void()">Mis redes sociales</a></li>
               <li><a href="javascript:void()">Configuración de la cuenta</a></li>
               <li><a href="javascript:void()">Desconectar</a></li>
             </ul>
           </li>
           <li class="nav-devider"></li>
           <li class="nav-small-cap">VISITANTE</li>
           <li> <a class="has-arrow waves-effect waves-dark" href="#menu1" aria-expanded="false" data-toggle="collapse">
               <i class="mdi mdi-email"></i>
               <span class="hide-menu">Notificaciones</span></a>
             <ul aria-expanded="false" class="collapse" id="menu1">
               <li><a href="#">Buzón de entrada</a></li>
               <li><a href="#">Nueva notificación</a></li>
               <li><a href="#">Ver todos los buzones</a></li>
             </ul>
           </li>
           <li> <a class="has-arrow waves-effect waves-dark" href="#menu2" aria-expanded="false" data-toggle="collapse">
               <i class="mdi mdi-chart-bubble"></i>
               <span class="hide-menu" data-toggle="collapse">Ejemplo
                 <span class="label label-rouded label-danger pull-right">25</span>
               </span></a>
             <ul aria-expanded="false" class="collapse" id="menu2">
               <li><a href="ui-cards.html">Cards</a></li>
               <li><a href="ui-user-card.html">User Cards</a></li>
               <li><a href="ui-buttons.html">Buttons</a></li>
               <li><a href="ui-modals.html">Modals</a></li>
               <li><a href="ui-tab.html">Tab</a></li>
             </ul>
           </li>

           <li class="nav-devider"></li>
           <li class="nav-small-cap">PRESIDENTE</li>
           <li> <a class="has-arrow waves-effect waves-dark" href="#menu1" aria-expanded="false" data-toggle="collapse">
               <i class="mdi mdi-account-multiple"></i>
               <span class="hide-menu">Usuarios</span></a>
             <ul aria-expanded="false" class="collapse" id="menu1">
               <li><a href="private/actor/list">Todos los usuarios</a></li>
               <li><a href="private/actor/list/miembros">Miembros</a></li>
               <li><a href="private/actor/list/visitantes">Visitantes</a></li>
               <li><a href="private/actor/list/visitantes">Penalizar miembros</a></li>
             </ul>
           </li>
           <li> <a class="has-arrow waves-effect waves-dark" href="#menu1" aria-expanded="false" data-toggle="collapse">
               <i class="mdi mdi-book"></i>
               <span class="hide-menu">Gestiones sobre miembros</span></a>
             <ul aria-expanded="false" class="collapse" id="menu1">
               <li><a href="private/actor/list/miembros">Penalizar miembros</a></li>
             </ul>
           </li>
         </ul>
       </nav>
     </div>
   </aside>