   <aside class="left-sidebar">
     <div class="scroll-sidebar">
       <nav class="sidebar-nav" *ngIf="actor">
         <ul id="sidebarnav">
           <li class="user-profile">
             <a class="has-arrow waves-effect waves-dark" href="#menu0" aria-expanded="false" data-toggle="collapse">
               <div class="row row-no-padding">
                 <div class="col-3">
                   <img [src]="actor.fotografia" />
                 </div>
                 <div class="col-9">
                   <span class="hide-menu">{{actor.nombre}} {{actor.apellidos}}</span>
                 </div>
               </div>
             </a>
             <ul aria-expanded="false" class="collapse" id="menu0">
               <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngFor="let item of menuPerfil">
                 <a class="nav-link" *ngIf="item.url !== '/logout'" [routerLink]="item.url">{{item.titulo}}</a>
                 <a class="nav-link" *ngIf="item.url === '/logout'" [routerLink]="item.url" (click)="logout()">{{item.titulo}}</a>
               </li>
             </ul>
           </li>
           <li class="nav-devider"></li>
           <li class="nav-small-cap">{{actor.cuentaUsuario.autoridad}} </li>
           <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngFor="let item of menuLateral">
             <a class="has-arrow waves-effect waves-dark" href="{{'#' + item.identificador}}" aria-expanded="false" data-toggle="collapse">
               <i class="{{item.claseIcono}}"></i>
               <span class="hide-menu">{{item.titulo}}</span></a>
             <ul aria-expanded="false" class="collapse" id="{{item.identificador}}">
               <li *ngFor="let subItem of item.submenu">
                 <a [routerLink]="subItem.url">{{subItem.titulo}}</a>
               </li>
             </ul>
           </li>

           <!-- <li> <a class="has-arrow waves-effect waves-dark" href="#menu2" aria-expanded="false" data-toggle="collapse">
               <i class="mdi mdi-chart-bubble"></i>
               <span class="hide-menu" data-toggle="collapse">Ejemplo
                 <span class="label label-rouded label-danger pull-right">25</span>
               </span></a>
             <ul aria-expanded="false" class="collapse" id="menu2">
               <li><a href="ui-cards.html">Cards</a></li>
               <li><a href="ui-user-card.html">User Cards</a></li>
               <li><a href="ui-buttons.html">Buttons</a></li>
               <li><a href="ui-modals.html">Modals</a></li>
               <li><a href="ui-tab.html">Tab</a></li>
             </ul>
           </li>

           <li class="nav-devider"></li>
           <li class="nav-small-cap">PRESIDENTE</li>
           <li> <a class="has-arrow waves-effect waves-dark" href="#menu1" aria-expanded="false" data-toggle="collapse">
               <i class="mdi mdi-account-multiple"></i>
               <span class="hide-menu">Usuarios</span></a>
             <ul aria-expanded="false" class="collapse" id="menu1">
               <li><a href="private/actor/list">Todos los usuarios</a></li>
               <li><a href="private/actor/list/miembros">Miembros</a></li>
               <li><a href="private/actor/list/visitantes">Visitantes</a></li>
               <li><a href="private/actor/list/visitantes">Penalizar miembros</a></li>
             </ul>
           </li>
           <li> <a class="has-arrow waves-effect waves-dark" href="#menu1" aria-expanded="false" data-toggle="collapse">
               <i class="mdi mdi-book"></i>
               <span class="hide-menu">Gestiones sobre miembros</span></a>
             <ul aria-expanded="false" class="collapse" id="menu1">
               <li><a href="private/actor/list/miembros">Penalizar miembros</a></li>
             </ul>
           </li>-->
         </ul>
       </nav>
     </div>
   </aside>