<main class="public">
  <article class="w-100 bg-grey pt-2 pb-3">
    <div class="container">
      <section class="row py-4">
        <div class="col text-center">
          <h1 class="text-dark-purple font-weight-bold">{{nombreAlbum}}</h1>
        </div>
      </section>
      <section class="row">
        <div class="col-lg-3 col-md-4 col-xs-6 thumb" *ngFor="let fotografia of fotografias">
          <a [href]="fotografia.imagen" data-fancybox="gallery" rel="ligthbox">
            <img [src]="fotografia.imagen" class="zoom img-fluid img-thumbnail">
          </a>
        </div>
      </section>
    </div>
  </article>
</main>