<main class="public">
  <section class="container-fluid mb-3">
    <app-banner-principal></app-banner-principal>
  </section>
  <article class="container mb-3">
    <div class="row justify-content-center">
      <section class="col">
        <div class="card border-0">
          <div class="card-body text-center">
            <h1 class="card-title text-dark-purple font-weight-bold text-uppercase">Asociación Juvenil Onyxia</h1>
            <div class="card-text text-justify">
              <p>Nuestra asociación Juvenil se llama Onyxia y somos de Sevilla capital. Fue fundada el 26 de Septiembre de 2016 y
                constituida el 15 de Febrero de 2017.</p>
              <p>Hemos crecido mucho en poco tiempo, contamos con más de 60 socios. Nos caracteriza que no somos solo una asociación,
                sino que también somos amigos
                entre nosotros; no solo quedamos para eventos o para salones manga, también hacemos convivencias, salidas y cenas.</p>
            </div>
            <a href="#" class="btn btn-outline-primary">Más sobre nosotros</a>
          </div>
        </div>
      </section>
    </div>
  </article>
  <article class="container mb-3">
    <div class="row">
      <section class="col-md">
        <div class="card border-0">
          <img class="card-img-top rounded" src="./assets/images/aniversario-onyxia-1.jpg" alt="1er Aniversario Onyxia">
          <div class="card-body">
            <h5 class="card-title text-center">1<sup>er</sup> Aniversario Onyxia</h5>
          </div>
        </div>
      </section>
      <section class="col-md">
        <div class="card border-0">
          <img class="card-img-top rounded" src="./assets/images/aniversario-onyxia-2.jpg" alt="2º Aniversario Onyxia">
          <div class="card-body">
            <h5 class="card-title text-center">2º Aniversario Onyxia</h5>
          </div>
        </div>
      </section>
      <section class="col-md">
        <div class="card border-0">
          <img class="card-img-top rounded" src="./assets/images/aniversario-onyxia-3.jpg" alt="3er Aniversario Onyxia">
          <div class="card-body">
            <h5 class="card-title text-center">3<sup>er</sup> Aniversario Onyxia</h5>
          </div>
        </div>
      </section>
    </div>
  </article>

  <article class="w-100 mb-3 bg-grey">
    <div class="container py-4">
      <div class="row">
        <section class="col-sm">
          <div class="card border-0 bg-grey">
            <img class="card-img-top rounded mx-auto img-reduced" src="./assets/images/logo-violet.png" alt="Violet">
            <div class="card-body text-center">
              <h4 class="card-title text-dark-purple">¿Quieres formar parte de Onyxia?</h4>
              <div class="card-text text-justify">
                <p>Siempre estamos abiertos a nuevos integrantes. Nos reunimos un domingo al mes y en esas reuniones siempre suele entrar
                  gente nueva de la lista de personas que quieren formar parte de Onyxia.</p>
                <p>Mira el apartado de nuestra página web " sobre nosotros" para saber todo lo referente a Onyxia y si te gusta la idea de
                  formar parte de nuestra asociación, rellena la solicitud y en unos días nos pondremos en contacto contigo.</p>
              </div>
              <a href="#" class="btn btn-primary"><i class="fa fa-id-card mr-2"></i>Rellenar solicitud</a>
            </div>
          </div>
        </section>
        <section class="col-sm">
          <div class="card border-0 bg-grey">
            <img class="card-img-top rounded mx-auto img-reduced " src="./assets/images/logo-cantina-trooper.png" alt="La Cantina del Trooper">
            <div class="card-body text-center">
              <h4 class="card-title text-dark-purple">Nuestro primer Sponsor Oficial: La Cantina del Trooper</h4>
              <div class="card-text text-justify">
                <p>Nos proporcionará Sponsor en todos nuestros eventos, ya sean eventos de fuera de Sevilla o dentro</p>
              </div>
              <a href="https://twitter.com/StarBarSevilla?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-lang="es"
                data-show-count="true">Follow @StarBarSevilla</a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </article>

  <article class="w-100 mb-5">
    <div class="container">
      <div class="row justify-content-center">
        <section class="col">
          <div class="card border-0">
            <div class="card-body text-center">
              <h2 class="card-title text-dark-purple font-weight-bold">Nuestras fotos</h2>
              <div class="card-text text-justify">
                <p>En cada evento realizamos una gran variedad de fotografías entre los visitantes y los socios participando en las diferentes actividades.
                  Además, se fotografían sesiones de los diferentes concursos que se realicen en los eventos.</p>
              </div>

            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="container-fluid">
      <app-carousel-cards></app-carousel-cards>
    </div>
    <div class="container">
      <div class="row text-center mt-5">
        <section class="col">
          <a href="#" class="btn btn-outline-primary">Ver más fotografías</a>
        </section>
      </div>
    </div>
  </article>
</main>