<main class="public">
  <article class="w-100 bg-grey">
    <div class="container">
      <section class="row py-4">
        <div class="col text-center">
          <h1 class="text-dark-purple font-weight-bold">Política de cookies</h1>
        </div>
      </section>
      <section class="row text-justify">
        <div class="col">
          <h5 class="font-weight-bold">Definición y función de las cookies</h5><br />
          <p class="font-weight-bold">¿Qué son las cookies?</p>
          <p>Una cookie es un fichero que se descarga en su ordenador al acceder a determinadas páginas web. Las cookies permiten a una página web, entre otras
            cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan
            y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.</p>
          <p class="font-weight-bold">¿Qué tipos de cookies utiliza esta página web?</p>
          <ul>
            <li>Cookies propias: Son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio gestionado por el propio editor y desde el
              que se presta el servicio solicitado por el usuario.</li>

            <li>Cookies de tercero: Son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio que no es gestionado por el editor, sino
              por otra entidad que trata los datos obtenidos través de las cookies.</li>

            <li>Cookies de sesión: Son un tipo de cookies diseñadas para recabar y almacenar datos mientras el usuario accede a una página web.</li>

            <li>Cookies persistentes: Son un tipo de cookies en el que los datos siguen almacenados en el terminal y pueden ser accedidos y tratados durante un
              periodo definido por el responsable de la cookie, y que puede ir de unos minutos a varios años.</li>

            <li>Cookies de análisis: Son aquellas que bien tratadas por nosotros o por terceros, nos permiten cuantificar el número de usuarios y así realizar
              la medición y análisis estadístico de la utilización que hacen los usuarios del servicio ofertado.
              Para ello se analiza su navegación en nuestra página web con el fin de mejorar la oferta de productos o servicios que le ofrecemos.</li>

            <li>Cookies publicitarias: Son aquellas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que, en su caso, el
              editor haya incluido en una página web, aplicación o plataforma desde la que presta el servicio solicitado en base a criterios como el contenido
              editado o la frecuencia en la que se muestran los anuncios.</li>

            <li>Cookies de publicidad comportamental: Son aquellas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que,
              en su caso, el editor haya incluido en una página web, aplicación o plataforma desde la que presta el servicio solicitado. Estas cookies almacenan
              información del comportamiento de los usuarios obtenida a través de la observación continuada de sus hábitos de navegación, lo que permite
              desarrollar un perfil específico para mostrar publicidad en función del mismo.</li>
          </ul>
          <p>Asimismo es posible que al visitar alguna pagina web o al abrir algún email donde se publique algún anuncio o alguna promoción sobre nuestros
            productos o servicios se instale en tu navegador alguna cookie que nos sirve para mostrarte posteriormente publicidad relacionada con la búsqueda
            que hayas realizado, desarrollar un control de nuestros anuncios en relación, por ejemplo, con el numero de veces que son vistos, donde aparecen, a
            que hora se ven, etc.</p>
          <p class="font-weight-bold">Revocación y eliminación de cookies</p>
          <p>Puedes permitir, bloquear o eliminar las cookies instaladas en tu equipo mediante la configuración de las opciones del navegador instalado en tu
            ordenador, en caso que no permitas la instalación de cookies en tu navegador es posible que no puedas acceder a alguna de las secciones de nuestras
            webs.</p>
          <p>Para más información sobre como bloquear el uso de la cookies puedes visitar los siguientes enlaces:</p>
          <ul>
            <li>Internet Explorer: Herramientas -> Opciones de Internet -> Privacidad -> Configuración.
              Para más información, puede consultar el soporte de Microsoft o la Ayuda del navegador.</li>

            <li>Firefox: Herramientas -> Opciones -> Privacidad -> Historial -> Configuración Personalizada.
              Para más información, puede consultar el soporte de Mozilla o la Ayuda del navegador.</li>

            <li>Chrome: Configuración -> Mostrar opciones avanzadas -> Privacidad -> Configuración de contenido.
              Para más información, puede consultar el soporte de Google o la Ayuda del navegador.</li>

            <li>Safari: Preferencias -> Seguridad.
              Para más información, puede consultar el soporte de Apple o la Ayuda del navegador.</li>
          </ul>
          <p class="font-weight-bold">Cookies propias</p>
          <p>La finalidad de la cookie es la de estudiar la audiencia y el comportamiento del usuario en la web, obteniendo información de la navegación.</p>
          <p class="font-weight-bold">Terceros prestadores de servicios</p>
          <p>Algunas funcionalidades de esta web utilizan plugins de terceros prestadores de servicio, como son los botones de redes sociales. Estos servicios
            podrían utilizar cookies sobre las cuales no tenemos control alguno, y las cuales pueden variar en función de si el usuario visitante está o no
            registrado en la red social en cuestión.</p>
        </div>
      </section>
    </div>
  </article>
</main>