<main class="public">
  <article class="w-100 bg-grey mb-5">
    <div class="container">
      <section class="row justify-content-center">
        <div class="col">
          <div class="card border-0 bg-grey">
            <div class="card-body text-center">
              <h1 class="card-title text-dark-purple font-weight-bold">Actividades</h1>
              <div class="card-text text-center">
                <p>En esta sección podrás descubrir todas las actividades que realizamos en nuestros eventos.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </article>

  <article class="w-100 mb-5 posts">
    <div class="container">
      <div class="card mb-4" *ngFor="let actividad of actividadesPublicas | paginate: { itemsPerPage: 4, currentPage: page }">
        <div class="row no-gutters justify-content-center">
          <div class="col-12 col-lg-auto fondo-imagen text-center d-lg-flex flex-lg-column">
            <img class="img-fluid my-lg-auto" [src]="actividad.fotografia" alt="{{actividad.nombre}}" *ngIf="actividad.fotografia">
          </div>
          <div class="col d-flex flex-column">
            <div class="card-body text-justify">
              <h2 class="card-title">{{actividad.nombre}}</h2>
              <p class="card-text">{{actividad.descripcion}}</p>
              <p class="card-text"><strong class="font-weight-bold">En vigor:</strong> {{actividad.enVigor ? 'Sí' : 'No'}}</p>
              <a class="btn btn-primary mt-3" [routerLink]="['/actividad-display', actividad._id]">Ver detalles y reglas</a>
            </div>
            <div class=" card-footer text-muted mt-auto">
              Publicado por {{actividad.miembroCreador.alias}} el {{actividad.fechaPublicacion | date: 'dd/MM/yyyy'}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls class="text-center" (pageChange)="page=$event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>

  </article>

</main>