<main class="public">
  <article class="w-100 bg-grey mb-5">
    <div class="container">
      <section class="row justify-content-center">
        <div class="col">
          <div class="card border-0 bg-grey">
            <div class="card-body text-center">
              <h1 class="card-title text-dark-purple font-weight-bold">Actividades</h1>
              <div class="card-text text-center">
                <p>En esta sección podrás descubrir todas las actividades que realizamos en nuestros eventos.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </article>

  <article class="w-100 mb-5 posts">
    <div class="container">
      <div class="card mb-4">
        <div class="row no-gutters justify-content-center">
          <div class="col-12 col-lg-auto fondo-imagen text-center d-lg-flex flex-lg-column">
            <img src="//placehold.it/600" class="img-fluid my-lg-auto" alt="Imagen de la actividad">
          </div>
          <div class="col d-flex flex-column">
            <div class="card-body text-justify">
              <h2 class="card-title">Nombre de la actividad</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam leo quis pharetra tincidunt. Nam sem metus,
                volutpat at massa nec, mollis semper arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam nec
                massa maximus est accumsan pulvinar. Nullam volutpat felis nec nunc condimentum, sed erat curae.orem ipsum dolor sit amet, consectetur
                adipiscing elit. Sed aliquam leo quis pharetra tincidunt.</p>
              <p class="card-text"><strong class="font-weight-bold">En vigor:</strong> Sí</p>
              <a href="#" class="btn btn-primary mt-3">Ver detalles y reglas</a>
            </div>
            <div class="card-footer text-muted mt-auto">
              Publicado por "Miembro quien sea" el 10/02/2020
            </div>

          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="row no-gutters justify-content-center">
          <div class="col-12 col-lg-auto fondo-imagen text-center d-lg-flex flex-lg-column">
            <img src="//placehold.it/600" class="img-fluid my-lg-auto" alt="Imagen de la actividad">
          </div>
          <div class="col d-flex flex-column">
            <div class="card-body text-justify">
              <h2 class="card-title">Nombre de la actividad</h2>
              <p class="card-text">Lore.</p>
              <p class="card-text"><strong class="font-weight-bold">En vigor:</strong> Sí</p>
              <a href="#" class="btn btn-primary mt-3">Ver detalles y reglas</a>
            </div>
            <div class="card-footer text-muted mt-auto">
              Publicado por "Miembro quien sea" el 10/02/2020
            </div>

          </div>
        </div>
      </div>
    </div>
  </article>

</main>