<main class="container-fluid">
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <app-titulo-private></app-titulo-private>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Listado</h4>
          <h6 class="card-subtitle">Fotografías</h6>
          <div class="table-responsive m-t-10">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="fotografias" class="table table-bordered table-striped table-data">
              <thead>
                <tr>
                  <th class="no-sort w-50">Imagen</th>
                  <th class="no-sort w-25">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let fotografia of fotografias">
                  <td class="text-center"> <img [src]="fotografia.imagen" class="img-fluid w-50" /></td>
                  <td class="text-center"><a class="cursor-pointer" (click)="eliminarFotografia(fotografia._id)" data-toggle="tooltip"
                      data-original-title="Eliminar">
                      <i class="fa fa-close text-danger"></i> </a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="form-actions">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-offset-3 col-md-9" *ngIf="albumFotografia && evento">
                    <button [routerLink]="['/private/fotografia/form', albumFotografia._id]" type="submit" class="btn btn-info">
                      <i class="mdi mdi-creation"></i>
                      Añadir fotografía</button>
                    <button type="button" [routerLink]="['/private/album-fotografia', evento._id]" class=" btn btn-inverse">Volver</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>