 <main class="public">
   <article class="w-100 bg-grey">
     <div class="container">
       <section class="row justify-content-center">
         <div class="col">
           <div class="card border-0 bg-grey">
             <div class="card-body text-center">
               <h1 class="card-title text-dark-purple font-weight-bold">¿Quieres formar parte de Onyxia?</h1>
               <div class="card-text text-justify">
                 <p>Siempre estamos abiertos a nuevos integrantes. Nos reunimos un domingo al mes y en esas reuniones siempre suele entrar gente nueva de la
                   lista de personas que quieren formar parte de Onyxia.
                 </p>
                 <p>Mira el apartado de nuestra página web "sobre nosotros" para saber todo lo referente a Onyxia y si te gusta la idea de formar parte de
                   nuestra asociación, rellena la solicitud y en unos días nos pondremos en contacto contigo.</p>
               </div>
             </div>
           </div>
         </div>
       </section>
     </div>
   </article>

   <article class="w-100 bg-grey pb-5" *ngIf="esVisitante">
     <div class="container">
       <div class="card card-form">
         <section class="card-heading"></section>
         <section class="card-body p-5">
           <h2 class="title">Solicitud para ser socio</h2>
           <form autocomplete="off" [formGroup]="solicitudMiembroForm" (ngSubmit)="enviarSolicitudMiembro()">
             <div class="form-row">
               <div class="form-group col-12 col-md-6">
                 <label for="comoHaConocidoAsociacion" class="sr-only">¿Cómo nos has conocido?</label>
                 <div class="input-group">
                   <input id="comoHaConocidoAsociacion" formControlName="comoHaConocidoAsociacion" type="text" class="form-control"
                     placeholder="¿Cómo nos has conocido?" required>
                 </div>
                 <small class="form-text alert alert-danger py-1 pl-1" *ngIf="formEnviado && validarCampo('comoHaConocidoAsociacion')">Debes indicar cómo
                   has conocido la asociación</small>
               </div>
               <div class="form-group col-12 col-md-6 select-style">
                 <label for="intereses" class="sr-only">Intereses</label>
                 <div class="input-group">
                   <select id="intereses" formControlName="intereses" class="form-control selectpicker" title="Intereses" multiple
                     aria-describedby="intereses-help" required>
                     <option value="BAILE">Baile / K-Pop</option>
                     <option value="DIBUJO">Dibujo</option>
                     <option value="SOFTCOMBAT">Softcombat</option>
                     <option value="TALLERESMANUALIDADES">Talleres y manualidades</option>
                     <option value="VIDEOJUEGOS">Videojuegos</option>
                     <option value="COSPLAY">Cosplay</option>
                   </select>
                 </div>
                 <small id="intereses-help" class="form-text text-muted pl-1">Puedes seleccionar varios intereses</small>
                 <small class="form-text alert alert-danger py-1 pl-1" *ngIf="formEnviado && validarCampo('intereses')">Debes indicar al menos un
                   interés</small>
               </div>
             </div>
             <div class="form-row">
               <div class="form-group col-12 col-md-6">
                 <label for="habilidades" class="sr-only">Habilidades</label>
                 <div class="input-group">
                   <input id="habilidades" formControlName="habilidades" type="text" class="form-control" placeholder="Habilidades" required>
                 </div>
                 <small class="form-text alert alert-danger py-1 pl-1" *ngIf="formEnviado && validarCampo('habilidades')">Debes indicar tus habilidades</small>
               </div>
               <div class="form-group col-12 col-md-6">
                 <label for="ideas" class="sr-only">Ideas</label>
                 <div class="input-group">
                   <input id="ideas" formControlName="ideas" type="text" class="form-control" placeholder="Ideas" required>
                 </div>
                 <small class="form-text alert alert-danger py-1 pl-1" *ngIf="formEnviado && validarCampo('ideas')">Debes indicar alguna idea</small>
               </div>
             </div>
             <div class="form-row">
               <div class="form-group col-12 col-md-6 select-style">
                 <label for="tieneCochePropio" class="sr-only">¿Dispones de coche propio?</label>
                 <div class="input-group">
                   <select id="tieneCochePropio" formControlName="tieneCochePropio" class="form-control selectpicker" title="¿Dispones de coche propio?"
                     required>
                     <option value=true>Sí</option>
                     <option value=false>No</option>
                   </select>
                 </div>
                 <small class="form-text alert alert-danger py-1 pl-1" *ngIf="formEnviado && validarCampo('tieneCochePropio')">Debes indicar si dispones de
                   coche propio</small>
               </div>
               <div class="form-group col-12 col-md-6 select-style">
                 <label for="miembrosConocidos" class="sr-only">Miembros conocidos</label>
                 <div class="input-group">
                   <select id="miembrosConocidos" formControlName="miembrosConocidos" class="form-control selectpicker" title="Miembros conocidos"
                     aria-describedby="miembrosConocidos-help" multiple>
                     <option *ngFor="let miembro of miembros" [value]="miembro._id">{{miembro.nombre }} {{miembro.apellidos}} ({{miembro.alias}})</option>
                   </select>
                 </div>
                 <small id="miembrosConocidos-help" class="form-text text-muted pl-1">Puedes seleccionar varios miembros o incluso ninguno</small>
               </div>
             </div>
             <button class="btn btn-primary" type="submit">Enviar</button>
           </form>
         </section>
       </div>
     </div>
   </article>
   <article class="w-100 bg-grey pb-5" *ngIf="!esVisitante">
     <div class="container">
       <div class="card card-form">
         <section class="card-heading"></section>
         <section class="card-body p-5">
           <h2 class="title">¿Te quieres unir?</h2>
           <p>Para poder enviar la solicitud necesitas estar autenticado.</p>
           <p>Si no tienes cuenta puedes <a [routerLink]="['/registro']">registrarte</a>. En caso
             de tenerla, tan sólo <a [routerLink]="['/login']">autentícate</a>.</p>
         </section>
       </div>
     </div>
   </article>
 </main>