<main class="public">
  <article class="w-100 bg-grey">
    <div class="container">
      <section class="row justify-content-center">
        <div class="col">
          <div class="card border-0 bg-grey">
            <div class="card-body text-center">
              <h1 class="card-title text-dark-purple font-weight-bold">¿Qué es Onyxia?</h1>
              <div class="card-text text-justify">
                <p>Somos una Asociación juvenil residentes en Sevilla y solemos hacer y colaborar en eventos sobre cultura asiática. Hemos colaborado en varios
                  salones y eventos de Sevilla, Huelva, Córdoba, Málaga, Almería y Cádiz, y realizado colaboraciones con otras Asociaciones de Sevilla. También
                  tenemos eventos propios, como el que dio comienzo a nuestra asociación el 25 de febrero de 2017, el Iookoso Onyxia; o como el Onyxia Zone, un
                  evento organizado el último domingo de cada mes en el centro comercial Zona Este, donde siempre tenemos talleres, juegos, actividades de
                  K-pop, Softcombat y un torneo de videojuegos, y algunos más que ya se están planificando.
                </p>
                <p>Una de las ventajas principales de estar en nuestra asociación es la de conocer gente nueva y pasarlo genial, y no solo en eventos o salones:
                  enOnyxia todos los componentes nos conocemos entre nosotros; así pues las reuniones son convivencias con idea de pasar un día juntos y pasarlo
                  bien entre nosotros.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </article>

  <article class="container my-4">
    <div class="row">
      <section class="col-md-6 col-lg-4">
        <div class="card border-0">
          <div class="card-body text-justify">
            <img class="card-img-top rounded mr-auto my-3 img-very-reduced" src="./assets/images/nosotros-funciones.png" alt="Funciones">
            <h5 class="card-title">Funciones</h5>
            <p class="card-text">
              En Onyxia muchos tienen una función en concreto, pero todos formamos también parte del staff. Dependiendo de las cualidades de cada uno, se le
              priorizará para realizar una determinada actividad.
            </p>
          </div>
        </div>
      </section>
      <section class="col-md-6 col-lg-4">
        <div class="card border-0">
          <div class="card-body text-justify">
            <img class="card-img-top rounded mr-auto my-3 img-very-reduced" src="./assets/images/nosotros-staff.jpg" alt="Staff">
            <h5 class="card-title">Staff</h5>
            <p class="card-text">
              Son las personas encargadas del funcionamiento de un evento, aquellas personas que por ejemplo están en información, consigna, escenario, ayudando
              a
              montar o desmontar el evento, etc.
            </p>
          </div>
        </div>
      </section>
      <section class="col-md-6 col-lg-4">
        <div class="card border-0">
          <div class="card-body text-justify">
            <img class="card-img-top rounded mr-auto my-3 img-very-reduced" src="./assets/images/nosotros-cuota.png" alt="Cuota">
            <h5 class="card-title">Cuota</h5>
            <p class="card-text">
              Cada vez que realizamos un evento, necesitamos material, premios, alimentos... Todo el dinero va destinado a poder mejorar la asociación o su
              funcionamiento.
            </p>
            <p class="card-text">
              La cuota actual de la asociación para cada socio es 3€ de inscripción una única vez y 10€ cada semestre desde el momento que pasa a ser socio.
            </p>
          </div>
        </div>
      </section>
      <section class="col-md-6 col-lg-4">
        <div class="card border-0">
          <div class="card-body text-justify">
            <img class="card-img-top rounded mr-auto my-3 img-very-reduced" src="./assets/images/nosotros-reuniones.jpg" alt="Reuniones">
            <h5 class="card-title">Reuniones</h5>
            <p class="card-text">
              Se realiza una reunión al mes, exceptuando los meses de verano, julio y agosto, en los cuáles no se realizan reuniones. Siempre se realizan los
              domingos y su asistencia es obligatoria (salvo excepciones muy puntuales).
            </p>
          </div>
        </div>
      </section>
      <section class="col-md-6 col-lg-4">
        <div class="card border-0">
          <div class="card-body text-justify">
            <img class="card-img-top rounded mr-auto my-3 img-very-reduced" src="./assets/images/nosotros-junta.png" alt="Junta directiva">
            <h5 class="card-title">Junta directiva</h5>
            <p class="card-text">
              Como todas las asociaciones, existe una junta directiva. Dicha junta está compuesta de un presidente, un vicepresidente, un secretario y vocales,
              los cuáles desempeñan sus correspondientes funciones como tales.
            </p>
          </div>
        </div>
      </section>
      <section class="col-md-6 col-lg-4">
        <div class="card border-0">
          <div class="card-body text-justify">
            <img class="card-img-top rounded mr-auto my-3 img-very-reduced" src="./assets/images/nosotros-eventos.png" alt="Eventos">
            <h5 class="card-title">Eventos</h5>
            <p class="card-text">
              Cuando nos llaman o contactamos con un evento, solemos preguntar a todos los miembros si quieren acudir y colaborar como staff,
              aunque no es obligatorio.
            </p>
            <p class="card-text">
              En caso de haber muchas solicitudes de socios que quieran ir, suelen ir los que son necesarios a la hora de desempeñar una determinada actividad
              especifica o los que hayan ido a menos eventos, para que todos tengan oportunidad de participar.
            </p>
          </div>
        </div>
      </section>
    </div>
  </article>

  <article class="w-100 bg-grey py-3">
    <div class="container my-4 cards-junta">
      <section class="row">
        <div class="col mb-3">
          <h2 class="text-uppercase">Junta directiva</h2>
          <p class="large">A continuación se presenta la junta directiva actual.</p>
        </div>
      </section>
      <section class="row justify-content-center">
        <div class="col-md-6 col-lg-4 my-3 my-lg-0" *ngFor="let miembro of miembrosJuntaSuperior">
          <div class="card mx-auto ml-md-auto">
            <div class="card-wrapper-image">
              <img class="card-img-top" [src]="miembro.fotografia" alt="{{miembro.nombre}}">
            </div>
            <div class="card-body text-center">
              <h5 class="card-title text-capitalize">{{miembro.rol}}</h5>
              <p class="card-text">{{miembro.nombre}} {{miembro.apellidos}}</p>
              <ul class="list-inline mb-1">
                <li class="list-inline-item" *ngFor="let redSocial of miembro.redSocials">
                  <a href="{{redSocial.enlace}}" title="{{redSocial.nombre}}" target="_blank">
                    <fa-icon [icon]="faInstagram" *ngIf="redSocial.nombre === 'Instagram'"></fa-icon>
                    <fa-icon [icon]="faTwitter" *ngIf="redSocial.nombre === 'Twitter'"></fa-icon>
                    <fa-icon [icon]="faFacebookF" *ngIf="redSocial.nombre === 'Facebook'"></fa-icon>
                    <fa-icon [icon]="faTwitch" *ngIf="redSocial.nombre === 'Twitch'"></fa-icon>
                    <fa-icon [icon]="faYoutube" *ngIf="redSocial.nombre === 'YouTube'"></fa-icon>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="row">
        <div class="col mt-5">
          <h3 class="text-uppercase">Vocales</h3>
          <p class="large">Actualmente contamos con {{miembrosJuntaVocales.length}} vocales en nuestra junta directiva.</p>
        </div>
      </section>
      <section class="row mt-3 justify-content-center cards-vocales">
        <!-- <div class="col-12 col-md-4 col-xl-2 my-3 my-xl-0"></div>  Este contenedor si se quiere distribución de 5 cards en pantalla grande y activar CSS -->
        <div class="col-md-6 col-lg-4 my-3 my-lg-0" *ngFor="let miembro of miembrosJuntaVocales">
          <div class="card mx-auto ml-md-auto">
            <div class="card-wrapper-image">
              <img class="card-img-top" [src]="miembro.fotografia" alt="{{miembro.nombre}}">
            </div>
            <div class="card-body text-center">
              <h5 class="card-title text-capitalize">{{miembro.rol}}</h5>
              <p class="card-text">{{miembro.nombre}} {{miembro.apellidos}}</p>
              <ul class="list-inline mb-1">
                <li class="list-inline-item" *ngFor="let redSocial of miembro.redSocials">
                  <a href="{{redSocial.enlace}}" title="{{redSocial.nombre}}" target="_blank">
                    <fa-icon [icon]="faInstagram" *ngIf="redSocial.nombre === 'Instagram'"></fa-icon>
                    <fa-icon [icon]="faTwitter" *ngIf="redSocial.nombre === 'Twitter'"></fa-icon>
                    <fa-icon [icon]="faFacebookF" *ngIf="redSocial.nombre === 'Facebook'"></fa-icon>
                    <fa-icon [icon]="faTwitch" *ngIf="redSocial.nombre === 'Twitch'"></fa-icon>
                    <fa-icon [icon]="faYoutube" *ngIf="redSocial.nombre === 'YouTube'"></fa-icon>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </article>
</main>