<div class="alert grdp container-fluid" role="alert" [hidden]="existe">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-sm-10 col-xl-11">
      <span>
        <p class="mb-1 font-weight-bolder">GDPR (Reglamento General Protección de Datos)</p>
        Este sitio web utiliza cookies para mejorar tu experiencia. Asumimos que estás de acuerdo con esto.
        Puede obtener más información en nuestra <a [routerLink]="['/politica-cookies']">Política de Cookies.</a>
      </span>
    </div>
    <div class="col-12 col-sm-2 col-xl-1 mt-2 mt-sm-0">
      <button type="button" class="btn btn-success bcgrdp" (click)="acceptGRDP()">Aceptar</button>
    </div>
  </div>
</div>