<footer class="page-footer bg-dark py-2">
  <div class="container-fluid text-justify px-3">
    <div class="row">
      <div class="col-md-4 mx-auto px-4">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Índice</h5>
        <div class="row">
          <div class="col-6 col-md-12 col-xl-6">
            <ul class="list-unstyled indice-footer">
              <li *ngFor="let item of menuItems | slice:0:menuItems.length/2+1">
                <a [routerLink]="item.url">
                  <fa-icon [icon]="faAngleRight"></fa-icon> {{item.titulo}}
                </a></li>
            </ul>
          </div>
          <div class="col-6 col-md-12 col-xl-6">
            <ul class="list-unstyled indice-footer">
              <li *ngFor="let item of menuItems | slice:menuItems.length/2+1:menuItems.length+1">
                <a *ngIf="item.url !== '/logout'" [routerLink]="item.url">
                  <fa-icon [icon]="faAngleRight"></fa-icon> {{item.titulo}}
                </a>
                <a *ngIf="item.url === '/logout'" [routerLink]="item.url" (click)="logout()">
                  <fa-icon [icon]="faAngleRight"></fa-icon> {{item.titulo}}
                </a>
            </ul>
          </div>

        </div>
        <div class="row">
          <div class="col">
            <ul class="list-unstyled indice-footer">
              <li><a [routerLink]="['/politica-cookies']">
                  <fa-icon [icon]="faAngleRight"></fa-icon> Política de cookies
                </a></li>
            </ul>
          </div>
        </div>
      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-4 mx-auto">
        <div class="row">
          <div class="col-12 px-4">
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Asociación Onyxia</h5>
            <p>Asociación juvenil y cultural residente en Sevilla dedicada a realizar y colaborar en eventos sobre cultura asiática.</p>
            <p>¿Quieres saber más? Puedes conocernos en nuestras redes sociales</p>
          </div>
          <div class="col-12 px-4">
            <h5 class="font-weight-bold text-uppercase mb-3 mt-4 title-card">¡Visita nuestro instagram!</h5>
            <div class="instagram-header">
              <div class="instagram-user">
                <div class="instagram-user-image-wrapper">
                  <a href="https://www.instagram.com/asoonyxia" title="asoonyxia" target="_blank">
                    <img class="instagram-user-image" src="./assets/images/logo-onyxia.png" alt="Onyxia Instagram">
                  </a>
                </div>
                <div class="instagram-user-name-wrapper">
                  <div class="instagram-user-name">
                    <a href="https://www.instagram.com/asoonyxia" title="@asoonyxia" target="_blank">@asoonyxia</a>
                  </div>
                </div>
              </div>

              <div class="ml-auto float-right pr-2">
                <a href="https://www.instagram.com/asoonyxia" title="asoonyxia" target="_blank">
                  <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-4 mx-auto">
        <div class="row mt-3">
          <div class="col-12 px-4">
            <h5 class="font-weight-bold text-uppercase title-card">!Comparte en Facebook!</h5>
            <div id="facebook-container">
              <div class="fb-page mt-3" data-href="https://www.facebook.com/asoonyxia" data-width="500" data-show-facepile="false">
              </div>
            </div>
          </div>
          <div class="col-12 px-4">
            <h5 class="font-weight-bold text-uppercase mb-3 mt-4 title-card">¡Síguenos en Twitter!</h5>
            <div class="mb-4 d-block d-md-none d-lg-block">
              <a href="https://twitter.com/AsoOnyxia" class="twitter-follow-button" data-size="large" data-lang="es" data-show-count="true">Follow
                @AsoOnyxia</a>
            </div>
            <div class="mb-4 d-none d-md-block d-lg-none">
              <a href="https://twitter.com/AsoOnyxia" class="twitter-follow-button" data-size="large" data-lang="es" data-show-count="false">Follow
                @AsoOnyxia</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div *ngIf="!estaAutenticado || esVisitante">
    <div class="container-fluid px-3">
      <div class="d-flex flex-row justify-content-center align-items-center py-2">
        <h5 class="text-uppercase mb-0 mr-2">Únete a nosotros</h5>
        <button type="button" class="btn btn-light btn-sm" [routerLink]="['/quieres-entrar']">¡Hazte socio!</button>
        <button *ngIf="!estaAutenticado" type="button" class="btn btn-light btn-sm" [routerLink]="['/registro']">¡Regístrate como visitante!</button>
      </div>
    </div>
    <hr>
  </div>

  <div class="container-fluid text-center px-3">
    <ul class="list-unstyled list-inline">
      <li class="list-inline-item">
        <a href="https://es-es.facebook.com/asoonyxia/" target="_blank" class="btn-floating btn-fb mx-1">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com/AsoOnyxia" target="_blank" class="btn-floating btn-tw mx-1">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.instagram.com/asoonyxia/" target="_blank" class="btn-floating btn-insta mx-1">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.youtube.com/channel/UCQZdDbN7FZX3ycyd9yD3DbA" target="_blank" class="btn-floating btn-yt mx-1">
          <fa-icon [icon]="faYoutube"></fa-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#" target="_blank" class="btn-floating btn-dis mx-1">
          <fa-icon [icon]="faDiscord"></fa-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#" target="_blank" class="btn-floating btn-wht mx-1">
          <fa-icon [icon]="faWhatsapp"></fa-icon>
        </a>
      </li>
    </ul>
    Asociación Onyxia © 2021
  </div>
</footer>