<main class="container-fluid">
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <app-titulo-private></app-titulo-private>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Listado</h4>
          <h6 class="card-subtitle">Usuarios registrados</h6>
          <div class="table-responsive m-t-10">
            <table id="myTable" class="table table-bordered table-striped table-data">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Correo electrónico</th>
                  <th>Usuario</th>
                  <th>Estado cuenta</th>
                  <th>Penalizaciones</th> <!-- Sólo si viene de la vista para penalizar miembros -->
                  <th class="no-sort">Ver más</th>
                  <th class="no-sort">Editar</th>
                  <th class="no-sort">Banear / desbanear</th>
                  <th class="no-sort">Penalizar</th> <!-- Sólo si viene de la vista para penalizar miembros -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Michael Bruce</td>
                  <td>Javascript Developer</td>
                  <td>Singapore</td>
                  <td>Activada</td>
                  <td>0</td>
                  <td class="text-center"><a href="private/actor/display"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                  </td>
                  <td class="text-center"><a href="private/actor/form" data-toggle="tooltip" data-original-title="Edit"> <i
                        class="fa fa-pencil text-inverse m-r-10"></i> </a>
                  </td>
                  <td class="text-center"><a href="#"> <i class="fa fa-ban text-danger"></i></a></td>
                  <td class="text-center"><a href="#"> <i class="fa fa-user-times text-danger"></i> </a></td>
                </tr>
                <tr>
                  <td>Donna Snider</td>
                  <td>Customer Support</td>
                  <td>Customer Support</td>
                  <td>Desactivada</td>
                  <td>0</td>
                  <td class="text-center"><a href="private/actor/display"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                  </td>
                  <td class="text-center"><a href="private/actor/form" data-toggle="tooltip" data-original-title="Edit"> <i
                        class="fa fa-pencil text-inverse m-r-10"></i> </a>
                  </td>
                  <td class="text-center"><a href="#"> <i class="fa fa-ban text-danger"></i></a></td>
                  <td class="text-center"><a href="#"> <i class="fa fa-user-times text-danger"></i> </a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>