<main class="public">
  <article class="w-100 bg-grey mb-5">
    <div class="container">
      <section class="row justify-content-center">
        <div class="col">
          <div class="card border-0 bg-grey">
            <div class="card-body text-center">
              <h1 class="card-title text-dark-purple font-weight-bold">Eventos</h1>
              <div class="card-text text-justify">
                <p>En esta sección podrás descubrir los eventos que hemos elaborado y desarrollado ya sea por nosotros mismos o en colaboración a otras
                  asociaciones y empresas.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </article>

  <article class="w-100 mb-4 posts">
    <div class="container">
      <div class="row">
        <section class="col-lg-6 d-flex align-items-stretch">
          <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Imagen del evento">
            <div class="card-body text-justify">
              <h2 class="card-title">Nombre del evento</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam leo quis pharetra tincidunt. Nam sem metus,
                volutpat at massa nec, mollis semper arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam nec
                massa maximus est accumsan pulvinar. Nullam volutpat felis nec nunc condimentum, sed erat curae.
              </p>
              <div class="row mb-3">
                <div class="col"><strong class="font-weight-bold">Lugar: </strong> Sevilla</div>
              </div>
              <div class="row">
                <div class="col-6 font-weight-bold">Fecha:</div>
                <div class="col-6 font-weight-bold">Horario:</div>
              </div>
              <div class="row">
                <div class="col-6">15/02/2020</div>
                <div class="col-6">10:00 - 20:00</div>
              </div>
              <div class="row">
                <div class="col-6">16/02/2020</div>
                <div class="col-6">10:00 - 20:00</div>
              </div>
              <a href="#" class="btn btn-primary mt-3">Ver detalles</a>
            </div>
            <div class="card-footer text-muted">
              Publicado por "Miembro quien sea"
            </div>
          </div>
        </section>
        <section class="col-lg-6 d-flex align-items-stretch">
          <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Imagen del evento">
            <div class="card-body text-justify">
              <h2 class="card-title">Nombre del evento</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam leo quis pharetra tincidunt. Nam sem metus,
                volutpat at massa nec, mollis semper arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam
                nec
                massa maximus est accumsan pulvinar. Nullam volutpat felis nec nunc condimentum, sed erat curae.
              </p>
              <div class="row mb-3">
                <div class="col"><strong class="font-weight-bold">Lugar: </strong> Sevilla</div>
              </div>
              <div class="row">
                <div class="col-6 font-weight-bold">Fecha:</div>
                <div class="col-6 font-weight-bold">Horario:</div>
              </div>
              <div class="row">
                <div class="col-6">15/02/2020</div>
                <div class="col-6">10:00 - 20:00</div>
              </div>
              <div class="row">
                <div class="col-6">16/02/2020</div>
                <div class="col-6">10:00 - 20:00</div>
              </div>
              <a href="#" class="btn btn-primary mt-3">Ver detalles</a>
            </div>
            <div class="card-footer text-muted">
              Publicado por "Miembro quien sea"
            </div>
          </div>
        </section>
        <section class="col-lg-6 d-flex align-items-stretch">
          <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Imagen del evento">
            <div class="card-body text-justify">
              <h2 class="card-title">Nombre del evento</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam leo quis pharetra tincidunt. Nam sem metus,
                volutpat at massa nec, mollis semper arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam
                nec
                massa maximus est accumsan pulvinar. Nullam volutpat felis nec nunc condimentum, sed erat curae.
              </p>
              <div class="row mb-3">
                <div class="col"><strong class="font-weight-bold">Lugar: </strong> Sevilla</div>
              </div>
              <div class="row">
                <div class="col-6 font-weight-bold">Fecha:</div>
                <div class="col-6 font-weight-bold">Horario:</div>
              </div>
              <div class="row">
                <div class="col-6">15/02/2020</div>
                <div class="col-6">10:00 - 20:00</div>
              </div>
              <div class="row">
                <div class="col-6">16/02/2020</div>
                <div class="col-6">10:00 - 20:00</div>
              </div>
              <a href="#" class="btn btn-primary mt-3">Ver detalles</a>
            </div>
            <div class="card-footer text-muted">
              Publicado por "Miembro quien sea"
            </div>
          </div>
        </section>
      </div>

    </div>
  </article>

</main>