<main class="public">
  <article class="w-100 bg-grey mb-5">
    <div class="container">
      <section class="row justify-content-center">
        <div class="col">
          <div class="card border-0 bg-grey">
            <div class="card-body text-center">
              <h1 class="card-title text-dark-purple font-weight-bold">Eventos</h1>
              <div class="card-text text-justify">
                <p>En esta sección podrás descubrir los eventos que hemos elaborado y desarrollado ya sea por nosotros mismos o en colaboración a otras
                  asociaciones y empresas.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </article>

  <article class="w-100 mb-4 posts">
    <div class="container">
      <div class="row">
        <section class="col-lg-6 d-flex align-items-stretch" *ngFor="let evento of eventosPublicos">
          <div class="card mb-4">
            <img class="card-img-top" [src]="evento.imagen" alt="{{evento.nombre}}" *ngIf="evento.imagen">
            <div class="card-body text-justify">
              <h2 class="card-title">{{evento.nombre}}</h2>
              <p class="card-text">{{evento.descripcion}}
              </p>
              <div class="row mb-3">
                <div class="col"><strong class="font-weight-bold">Lugar: </strong> {{evento.lugar}}</div>
              </div>
              <div class="row">
                <div class="col-6 font-weight-bold">Fecha:</div>
                <div class="col-6 font-weight-bold">Horario:</div>
              </div>
              <div class="row" *ngFor="let dia of evento.diasEvento">
                <div class="col-6">{{dia.fecha | date: 'dd/MM/yyyy'}}</div>
                <div *ngIf="dia.horaInicio !== undefined || dia.horaFinal !== undefined; then pintarTramo else noPintarTramo"></div>
                <ng-template #pintarTramo>
                  <div class="col-6">{{dia.horaInicio}} - {{dia.horaFinal}} </div>
                </ng-template>
                <ng-template #noPintarTramo>
                  <div class="col-6">Sin definir</div>
                </ng-template>
              </div>
              <a class="btn btn-primary mt-3" [routerLink]="['/evento-display', evento._id]">Ver detalles</a>
            </div>
            <div class="card-footer text-muted">
              Publicado por {{evento.miembroCreador.alias}}
            </div>
          </div>
        </section>
      </div>

    </div>
  </article>

</main>