<main class="container-fluid">
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <app-titulo-private></app-titulo-private>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header bg-purple">
          <h4 class="m-b-0 text-white">{{edicion ? 'Edición' : 'Creación'}}</h4>
        </div>
        <div class="card-body">
          <form autocomplete="off" [formGroup]="materialForm" (ngSubmit)="guardarForm()">
            <div class="form-body">
              <h3 class="card-title">Información del material</h3>
              <hr>
              <div class="row p-t-20">
                <div class="col-md-6">
                  <div class="form-group" [ngClass]=" {'has-danger': formEnviado && validarCampo('nombre')}">
                    <label for="nombre" class="control-label">Nombre</label>
                    <div class="input-group">
                      <input type="text" id="nombre" formControlName="nombre" class="form-control"
                        [ngClass]="{'form-control-danger': formEnviado && validarCampo('nombre')}">
                    </div>
                    <div *ngIf="formEnviado && validarCampo('nombre')" class="form-control-feedback">Debes indicar un nombre</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" [ngClass]=" {'has-danger': formEnviado && validarCampo('descripcion')}">
                    <label for="descripcion" class="control-label">Descripción</label>
                    <div class="input-group">
                      <input type="text" id="descripcion" formControlName="descripcion" class="form-control"
                        [ngClass]="{'form-control-danger': formEnviado && validarCampo('descripcion')}">
                    </div>
                    <div *ngIf="formEnviado && validarCampo('descripcion')" class="form-control-feedback">Debes indicar una descripción</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="fotografia" class="control-label">Fotografía</label>
                    <div class="input-group">
                      <div class="input-group">
                        <input name="File" type="file" id="fotografia" class="dropify" data-height="300" data-allowed-file-extensions="png jpg jpeg"
                          (change)="onFileChange($event)" data-default-file="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="!edicion">
                <h3 class="card-title p-t-30">Inventario de la primera unidad</h3>
                <hr>
                <div class="row p-t-20">
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-danger': !edicion && formEnviado && validarCampo('estadoMaterial')}">
                      <label for="estadoMaterial" class="control-label">Estado del material</label>
                      <div class="input-group">
                        <select id="estadoMaterial" formControlName="estadoMaterial" class="form-control selectpicker" title="Estado del material">
                          <option value="OPERATIVO">Operativo</option>
                          <option value="DETERIORADO">Deteriorado</option>
                        </select>
                      </div>
                      <div *ngIf="!edicion && formEnviado && validarCampo('estadoMaterial')" class="form-control-feedback">Debes indicar un estado del
                        material para el inventario
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-danger': !edicion && formEnviado && validarCampo('esPropio')}">
                      <label for="esPropio" class="control-label">Es propio de la asociación</label>
                      <div class="input-group">
                        <select id="esPropio" formControlName="esPropio" class="form-control selectpicker" title="Es propio de la asociación">
                          <option value="true">Sí</option>
                          <option value="false">No</option>
                        </select>
                      </div>
                      <div *ngIf="!edicion && formEnviado && validarCampo('esPropio')" class="form-control-feedback">Debes indicar si el material de inventario
                        es propio de la asociación propio</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Guardar</button>
                <button type="button" [routerLink]="['/private/material']" class=" btn btn-inverse">Cancelar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>