<main class="public">
  <article class="w-100 bg-grey">
    <div class="container">
      <section class="row justify-content-center">
        <div class="col">
          <div class="card border-0 bg-grey">
            <div class="card-body text-center">
              <h1 class="card-title text-dark-purple font-weight-bold">Colaboraciones</h1>
              <div class="card-text">
                <p>En esta sección se presentan las 2 principales empresas colaboradoras con Asociación Onyxia.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </article>
  <article class="container">
    <section class="row colaborador pt-5 pb-2">
      <div class="col-lg-6 col-lg-6 col-sm-12 text-justify">
        <h3>La Cantina del Trooper</h3>
        <p>Se trata del lugar favorito de cualquier persona amante del mundo friki. Enfocados en dar un ambiente tranquilo y acogedor a
          todos los amantes de los videojuegos, rol o similares.</p>
        <p>Diferentes alternativas para que tú y tus amigos disfrutéis de una tarde tranquila y cómoda.</p>
        <p>Disposición de una amplia oferta de juegos de mesa, tanto para los grupos más
          pequeños como para las hordas más grandes.</p>
        <p>Si eres un fan de los videojuegos de ordenador, podrás usar los equipos para jugar en escuadrón, duo o en solitario con tus
          amigos o solo, tú eliges.</p>
        <ul class="list-unstyled font-weight-bolder">
          <li>
            <fa-icon [icon]="faCheckCircle" size="sm" class="mr-2"></fa-icon> Servicio de bar.
          </li>
          <li>
            <fa-icon [icon]="faCheckCircle" size="sm" class="mr-2"></fa-icon> Servicio de juegos de mesa.
          </li>
          <li>
            <fa-icon [icon]="faCheckCircle" size="sm" class="mr-2"></fa-icon> Servicios de alquiler de ordenadores gaming.
          </li>
        </ul>
      </div>
      <div class="col-lg-6 col-lg-6 col-sm-12 text-center">
        <img class="img-fluid" src="./assets/images/logo-cantina-trooper.png" alt="La Cantina del Trooper">
      </div>
    </section>
    <section class="row pb-5">
      <div class="col-lg-6 col-lg-6 col-sm-12">
        <h5>Visita sus redes sociales:</h5>

        <ul class="list-inline mb-1">
          <li class="list-inline-item mr-2"><a href="https://twitter.com/StarBarSevilla" title="Twitter" target="_blank">
              <fa-icon [icon]="faTwitterSquare" size="4x"></fa-icon>
            </a></li>
          <li class="list-inline-item mr-2"><a href="https://www.instagram.com/starbarsevilla/" title="Instagram" target="_blank">
              <fa-icon [icon]="faInstagramSquare" size="4x"></fa-icon>
            </a></li>
          <li class="list-inline-item mr-2"><a href="https://www.facebook.com/StarBarSevilla/" title="Facebook" target="_blank">
              <fa-icon [icon]="faFacebookSquare" size="4x"></fa-icon>
            </a></li>
          <li class="list-inline-item boton-twitter"><a href="https://twitter.com/StarBarSevilla?ref_src=twsrc%5Etfw" class="twitter-follow-button"
              data-size="large" data-lang="es" data-show-count="true">Follow @StarBarSevilla</a></li>
        </ul>
      </div>
      <div class="col-lg-6 col-lg-6 col-sm-12">
        <div class="fb-page" data-href="https://www.facebook.com/StarBarSevilla/" data-width="540" data-show-facepile="false">
        </div>
      </div>
    </section>
  </article>
  <article class="w-100 bg-grey">
    <div class="container">
      <section class="row flex-column-reverse flex-lg-row colaborador pt-5 pb-2">
        <div class="col-lg-6 col-lg-6 col-sm-12 text-center">
          <img class="img-fluid rounded" src="./assets/images/logo-fusion-freak.jpg" alt="Fusion Freak">
        </div>
        <div class="col-lg-6 col-lg-6 col-sm-12 text-justify">
          <h3>Fusion Freak</h3>
          <p>Se trata de una empresa dedicada dedicada a la organización de los eventos "GO!", además de la publicación de noticias frikis, de cine, manga,
            anime,
            comic, literatura y humor.
          </p>
          <p>Gran mayoría de los eventos que realizamos y organizamos son gracias a ellos, ya que nos proporcionan la ayuda y el material necesario en muchas
            ocasiones, incluso el hospedaje de alojamiento para eventos fuera de Sevilla.
          </p>
          <p>En su página web realizan todo tipo de publicaciones y críticas de diferentes sectores del mundo friki.
          </p>
          <p>Visita su web para obtener más información:</p>
          <p><a href="https://www.fusion-freak.com/" target="_blank">https://www.fusion-freak.com/</a></p>
          <ul class="list-unstyled font-weight-bolder">
            <li>
              <fa-icon [icon]="faCheckCircle" size="sm" class="mr-2"></fa-icon> Organizador de eventos.
            </li>
            <li>
              <fa-icon [icon]="faCheckCircle" size="sm" class="mr-2"></fa-icon> Publicación de noticias frikis.
            </li>
            <li>
              <fa-icon [icon]="faCheckCircle" size="sm" class="mr-2"></fa-icon> Informacion geek divertida.
            </li>
          </ul>
        </div>

      </section>
      <section class="row flex-column-reverse flex-lg-row pb-5">
        <div class="col-lg-6 col-lg-6 col-sm-12">
          <div class="fb-page" data-href=" https://www.facebook.com/FusionFreakWeb/" data-width="540" data-show-facepile="false">
          </div>
        </div>
        <div class="col-lg-6 col-lg-6 col-sm-12">
          <h5>Visita sus redes sociales:</h5>
          <ul class="list-inline mb-1">
            <li class="list-inline-item mr-2"><a href="https://twitter.com/FusionfreakNSF" title="Twitter" target="_blank">
                <fa-icon [icon]="faTwitterSquare" size="4x"></fa-icon>
              </a></li>
            <li class="list-inline-item mr-2"><a href="https://www.instagram.com/fusion_freak/" title="Instagram" target="_blank">
                <fa-icon [icon]="faInstagramSquare" size="4x"></fa-icon>
              </a></li>
            <li class="list-inline-item mr-2"><a href="https://www.facebook.com/FusionFreakWeb/" title="Facebook" target="_blank">
                <fa-icon [icon]="faFacebookSquare" size="4x"></fa-icon>
              </a></li>
            <li class="list-inline-item mr-2"><a href="https://www.pinterest.es/fusionfreak0872/" title="Pinterest" target="_blank">
                <fa-icon [icon]="faPinterestSquare" size="4x"></fa-icon>
              </a></li>
            <li class="list-inline-item boton-twitter"><a href="https://twitter.com/FusionfreakNSF?ref_src=twsrc%5Etfw" class="twitter-follow-button"
                data-size="large" data-lang="es" data-show-count="true">Follow @FusionfreakNSF</a></li>
          </ul>
        </div>
      </section>
    </div>
  </article>
</main>