<main class="container-fluid">
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <app-titulo-privado></app-titulo-privado>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Listado</h4>
          <h6 class="card-subtitle">Mis redes sociales / Redes sociales de Fulanito</h6>
          <div class="table-responsive m-t-10">
            <table id="myTable" class="table table-bordered table-striped table-data">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Enlace</th>
                  <th>Usuario</th>
                  <th class="no-sort">Editar</th>
                  <th class="no-sort">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Michael Bruce</td>
                  <td>Javascript Developer</td>
                  <td>Singapore</td>
                  <td class="text-center"><a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                  </td>
                  <td class="text-center"><a href="#" data-toggle="tooltip" data-original-title="Delete"> <i class="fa fa-close text-danger"></i> </a></td>
                </tr>
                <tr>
                  <td>Donna Snider</td>
                  <td>Customer Support</td>
                  <td>New York</td>
                  <td class="text-center"><a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                  </td>
                  <td class="text-center"><a href="#" data-toggle="tooltip" data-original-title="Delete"> <i class="fa fa-close text-danger"></i>
                    </a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>