<main class="container-fluid">
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <app-titulo-private></app-titulo-private>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Listado</h4>
          <h6 class="card-subtitle">Visitantes registrados</h6>
          <div class="table-responsive m-t-10">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="visitantes" class="table table-bordered table-striped table-data">
              <thead>
                <tr>
                  <th>Nombre completo</th>
                  <th>Correo electrónico</th>
                  <th>Estado cuenta</th>
                  <th class="no-sort" width="1">Ver más</th>
                  <th class="no-sort" width="1">Editar</th>
                  <th class="no-sort" width="1">Banear / Desbanear</th>
                  <th class="no-sort" width="1">Convertir en miembro</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let visitante of visitantes">
                  <td>{{visitante.nombre}} {{visitante.apellidos}} <span *ngIf="visitante.alias && visitante.alias.length !== 0">({{visitante.alias}})</span>
                  </td>
                  <td>{{visitante.correoElectronico}}</td>
                  <td>{{visitante.cuentaUsuario.estado ? 'Activada' : 'Desactivada'}}</td>
                  <td class="text-center"><a class="cursor-pointer" [routerLink]="['/private/actor/display', visitante._id]" data-toggle="tooltip"
                      data-original-title="Ver más">
                      <i class="fa fa-eye text-inverse"></i> </a>
                  </td>
                  <td class="text-center"><a class="cursor-pointer" [routerLink]="['/private/actor/form', visitante._id]" data-toggle="tooltip"
                      data-original-title="Editar">
                      <i class="fa fa-pencil text-inverse"></i> </a>
                  </td>
                  <td class="text-center" width="1"><a class="cursor-pointer" (click)="banearDesbanearVisitante(visitante._id)" data-toggle="tooltip"
                      data-original-title="Banear / Desbanear">
                      <i class="fa fa-ban text-danger"></i></a>
                  </td>
                  <td class="text-center"><a *ngIf="visitante.solicitudMiembro && visitante.solicitudMiembro.estaPagado" class="cursor-pointer"
                      [routerLink]="['/private/actor/convertirMiembro', visitante._id]" data-toggle="tooltip" data-original-title="Convertir en miembro">
                      <i class="mdi mdi-account-switch text-inverse"></i> </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>