<header class="topbar" *ngIf="actor">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <div class="navbar-header">
      <div class="navbar-brand">
        <img [routerLink]="['/private']" src="./assets/images/logo-onyxia.png" alt="Logo Onyxia" class="dark-logo img-fluid img-logo" />
        <span>
          <img [routerLink]="['/private']" src="./assets/images/texto-onyxia.png" alt="Texto Onyxia" class="dark-logo img-fluid img-logo" />
        </span>
      </div>
    </div>
    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a>
        </li>
        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a>
        </li>
        <li class="nav-item hidden-sm-down"></li>
      </ul>
      <ul class="navbar-nav my-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link waves-effect waves-dark" [routerLink]="['/private/notificacion/bandeja']">
            <i class="mdi mdi-email"></i>
            <div class="notify" *ngIf="hayNotificacionesNuevas">
              <span class="heartbit"></span>
              <span class="point"></span>
            </div>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img [src]="actor.fotografia" class="profile-pic" /></a>
          <div class="dropdown-menu dropdown-menu-right animated fadeIn">
            <ul class="dropdown-user">
              <li>
                <div class="dw-user-box row no-gutters">
                  <div class="u-img col-3"><img [src]="actor.fotografia"></div>
                  <div class="u-text col-9">
                    <h4>{{actor.nombre}} {{actor.apellidos}}</h4>
                    <p class="text-muted">{{actor.correoElectronico}}</p>
                    <a [routerLink]="['/private/actor']" class="btn btn-rounded btn-primary btn-sm">Ver perfil</a>
                  </div>
                </div>
              </li>
              <li role="separator" class="divider"></li>
              <li><a [routerLink]="['/private/red-social']"><i class="fa fa-share-alt"></i> Tus redes sociales</a></li>
              <li><a [routerLink]="['/private/actor/self-form']"><i class="ti-settings"></i> Configuración de la cuenta</a></li>
              <li role="separator" class="divider"></li>
              <li><a [routerLink]="['/']"><i class="mdi mdi-exit-to-app"></i> Salir del panel de administración</a></li>
              <li><a [routerLink]="['/logout']" (click)="logout()"><i class="fa fa-power-off"></i> Desconectar</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>