<main class="public">
  <article class="w-100 bg-grey">
    <div class="container">
      <section class="row justify-content-center">
        <div class="col">
          <div class="card border-0 bg-grey">
            <div class="card-body text-center">
              <h1 class="card-title text-dark-purple font-weight-bold">Bases de concurso de baile de K-Pop</h1>
              <div class="card-text text-justify">
                <p>Cada final de mes realizamos un evento llamado Onyxia Zone en Sevilla Este (Zona Este), en el que organizamos diferentes actividades y
                  talleres. También hay una zona K-Pop, en la que realizamos random plays y concursos.</p>
                <p>En esta sección os traemos las bases del concurso de baile de K-Pop.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </article>

  <article class="container pt-5 pb-4 contenido">
    <section class="row text-justify">
      <div class="col">
        <p>Estas bases serán válidas para el concurso de baile de K-Pop que se realiza de forma mensual,
          el último domingo de cada mes, durante los eventos <strong class="font-weight-bold">“Onyxia Zone”</strong>, en Zona Este</p>
        <ol>
          <li class="titulo"><strong class="h5 font-weight-bold titulo">Inscripción</strong>
            <hr />
            <ol>
              <li>El concurso cuenta con un número limitado de plazas, siendo 20 el número máximo de estas.</li>
              <li>Las inscripciones se harán in situ, en el propio evento, hasta completarse el cupo de las 20 plazas.</li>
              <li>Es necesaria la presencia del (los) participante(s) en el evento para poder inscribirse en el mismo,
                no siendo aceptada la inscripción del (los) mismo(s) sin aún haber llegado a este. Por lo tanto, la
                inscripción corre a cargo del (los) participante(s), que deberá(n) hacerla de forma presencial.</li>
              <li>El orden de llegada/inscripción definirá el orden de actuación del (los) participante(s). El mismo
                puede modificarse por intercambio recíproco, esto es, un participante acepta intercambiar su puesto
                con el de otro participante, siempre y cuando ambos estén de acuerdo, y se notifique antes del inicio
                del concurso.</li>
              <li>Se podrá participar en grupo o como solista, pero no en ambas modalidades simultáneamente.</li>
              <li>Los participantes deberán de traer la canción a interpretar en pen drive o en su dispositivo móvil.
                En caso contrario, los organizadores del evento podrán proveer, si es posible, la canción, pero no
                se hacen responsables de la calidad del audio que suene (archivos corrompidos, reproducción de
                MV’s con parones en la coreografía, etc.).</li>
            </ol>
          </li>

          <li class="titulo"><strong class="h5 font-weight-bold">La actuación</strong>
            <hr />
            <ol>
              <li>La actuación no deberá superar, en total, los 5 minutos de duración. Los participantes que
                sobrepasen este límite de tiempo serán automáticamente descalificados del concurso. </li>
              <li>La canción para bailar podrá ser del género K-Pop, J-Pop o mandopop/cantopop, un remix y/o
                contener una introducción, siempre y cuando la canción principal pertenezca a los géneros citados.
                <ol>
                  <li>La introducción podrá pertenecer a cualquier género musical, y no necesariamente a un
                    género asiático.</li>
                  <li>La introducción no deberá de durar más de 2 minutos; los participantes que actúen con una
                    introducción de duración superior serán penalizados, pero no descalificados.</li>
                  <li>El tiempo que dura la introducción también computa en el límite de tiempo máximo de la
                    actuación, por lo que, si la introducción dura 2 minutos, el tiempo de la canción principal no
                    deberá exceder los 3 minutos.
                  </li>
                </ol>
              </li>
            </ol>
          </li>

          <li class="titulo"><strong class="h5 font-weight-bold titulo">El jurado</strong>
            <hr />
            <ol>
              <li>El jurado estará formado por, como máximo, 4 personas, de las cuales, y como mínimo, dos
                personas serán miembros de la <strong class="font-weight-bold">Asociación Onyxia</strong>. Los miembros restantes del jurado podrán ser
                de grupos de K-Pop que colaboren en la organización del Onyxia Zone o jueces invitados.</li>
              <li>La valoración del jurado constará de coreografía, expresión, fluidez y, de forma opcional, el vestuario.</li>
              <li>El veredicto final del jurado será irrevocable y determinante.</li>
              <li>Una actitud negativa, antideportiva e inmoral hacia los demás participantes del concurso (véase: burlas, desprecios, mofas, insultos, etc.)
                podrá acarrear penalizaciones.</li>
              <p class="pt-3 font-italic">Recuérdese que el jurado está conformado por personas, no por máquinas apáticas. Los gustos y
                preferencias de este son subjetivos, por lo que hay que entender que las valoraciones se realizarán en función
                de la opinión de cada uno de los miembros. Una persona que no conoce muy bien el K-Pop también sería
                legítima para valorar la actuación de una persona que baila, pues la danza es una forma de arte, y como tal,
                tiene la finalidad de expresar sentimientos y causarlos en quienes lo aprecian; y para captar “el arte” no hay
                que ser un erudito o un habilidoso en el baile; y, por lo tanto, sobran los comentarios despectivos hacia cualquier
                miembro del jurado. También recordamos que la técnica no lo es todo en una interpretación. Suerte a todos
                los participantes :).</p>
            </ol>
          </li>
        </ol>

        <p>Si deseas descargar las bases del concurso de baile de K-Pop en formato PDF, puedes hacerlo a continuación:
          <a href="./assets/documents/bases-concurso-K-Pop.pdf" class="font-weight-bold font-italic text-decoration-none" target="_blank">Bases del concurso
            K-Pop</a></p>
      </div>
    </section>
  </article>
</main>