<main class="container-fluid">
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <app-titulo-private></app-titulo-private>
    </div>
  </div>

  <div class="row" *ngIf="evento">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Listado</h4>
          <h6 class="card-subtitle">Días del evento</h6>
          <div class="table-responsive m-t-10">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="diasEvento" class="table table-bordered table-striped table-data">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th class="no-sort">Ver tramos horarios</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dia of evento.diasEvento">
                  <td>{{dia.fecha | date: 'dd/MM/yyyy'}}</td>
                  <td class="text-center"><a [routerLink]="['/private/tramo-horario', dia._id]" data-toggle="tooltip" data-original-title="Ver tramos horarios">
                      <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="form-actions">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-offset-3 col-md-9">
                    <button *ngIf="evento.estadoEvento === 'PENDIENTE'" (click)="aniadirDia(evento._id.toString())" type="submit" class="btn btn-info">
                      <i class="mdi mdi-creation"></i>
                      Añadir día</button>
                    <button *ngIf="evento.estadoEvento === 'PENDIENTE'" (click)="eliminarUltimoDia(evento._id.toString())" type="submit" class="btn btn-danger">
                      <i class="mdi mdi-delete"></i>
                      Eliminar último día asignado</button>
                    <button type="button" [routerLink]="['/private/evento/display', evento._id]" class=" btn btn-inverse">Volver</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>