<main class="public">
  <article class="w-100 bg-grey pt-2 pb-5">
    <div class="container">
      <section class="row py-4">
        <div class="col text-center">
          <h1 class="text-dark-purple font-weight-bold">Nombre de la actividad</h1>
        </div>
      </section>
      <section class="row text-justify">
        <div class="col-lg-4 text-center text-lg-left">
          <img class="img-fluid rounded" src="http://placehold.it/600x750" alt="Fotografía de la actividad">
          <div class="mt-3 d-none d-lg-block">
            <span><strong class="font-weight-bold">Publicado por: </strong> Miembro no se que el 10/02/2020</span>
          </div>
          <div class="mt-3 d-none d-lg-block">
            <span><strong class="font-weight-bold">En vigor: </strong> Sí</span>
          </div>
        </div>
        <div class="col-lg-8 mt-4 mt-lg-0">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam leo quis pharetra tincidunt. Nam sem metus,
            volutpat at massa nec, mollis semper arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam nec
            massa maximus est accumsan pulvinar. Nullam volutpat felis nec nunc condimentum, sed erat curae.Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Sed aliquam leo quis pharetra tincidunt</p>
          <p><strong class="font-weight-bold">Reglas: </strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam leo quis pharetra tincidunt. Nam sem metus,
            volutpat at massa nec, mollis semper arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam nec
            massa maximus est accumsan pulvinar. Nullam volutpat felis nec nunc condimentum, sed erat curae.Lorem ipsum dolor sit amet, consectetur
            adipiscing
            elit. Sed aliquam leo quis pharetra tincidunt
          </p>
          <div class="row mt-3 d-lg-none d-flex">
            <div class="col-9"><strong class="font-weight-bold">Publicado por: </strong> Miembro no se que el 10/02/2020</div>
            <div class="col-3"><strong class="font-weight-bold">En vigor: </strong> Sí</div>
          </div>
        </div>
      </section>
    </div>
  </article>
</main>