<header>
  <nav class="navbar navbar-expand navbar-dark bg-purple">
    <span class="text-white mr-2 mt-1">
      <fa-icon [icon]="faEnvelope"></fa-icon>
    </span>
    <span class="mr-auto">
      <a class="text-decoration-none text-white" href="mailto:asociaciononyxia@gmail.com">asociaciononyxia@gmail.com</a>
    </span>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link text-white" href="https://www.facebook.com/asoonyxia" title="Facebook" target="_blank">
          <fa-icon [icon]="faFacebookF"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="https://twitter.com/AsoOnyxia" title="Twitter" target="_blank">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="https://www.instagram.com/asoonyxia/" title="Instagram" target="_blank">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="https://www.youtube.com/channel/UCQZdDbN7FZX3ycyd9yD3DbA" title="YouTube" target=" _blank">
          <fa-icon [icon]="faYoutube"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="https://discord.com/invite/CE8bhBT" title="Discord" target=" _blank">
          <fa-icon [icon]="faDiscord"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="https://chat.whatsapp.com/ESb17Tpq0Gh8JGc0e5Rd4m" title="WhatsApp" target=" _blank">
          <fa-icon [icon]="faWhatsapp"></fa-icon>
        </a>
      </li>
    </ul>
  </nav>
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="logo mr-auto d-none d-md-block"><img src="./assets/images/logo-onyxia-texto.png" alt="Logo" /></div>
    <app-menu-public></app-menu-public>
    <div class="logo ml-auto d-md-none d-block"><img src="./assets/images/logo-onyxia-texto.png" alt="Logo" /></div>
  </nav>
</header>