<main class="public">
  <article class="w-100 bg-grey mb-3">
    <div class="container">
      <section class="row justify-content-center">
        <div class="col">
          <div class="card border-0 bg-grey">
            <div class="card-body text-center">
              <h1 class="card-title text-dark-purple font-weight-bold">Noticias</h1>
              <div class="card-text text-center">
                <p>Esta sección está dedicada a un blog de noticias relacionadas con la asociación para que estés al tanto de todo.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </article>

  <article class="w-100 py-5 posts text-justify" *ngFor="let noticia of noticias | paginate: { itemsPerPage: 4, currentPage: page }">
    <div class="container">
      <section class="row">
        <div class="col">
          <div class="linea-inferior">
            <img class="img-fluid rounded" [src]="noticia.imagen" alt="{{noticia.titulo}}" *ngIf="noticia.imagen">
          </div>
          <h2 class="card-title">{{noticia.titulo}}</h2>
          <ul class="text-purple clearfix mb-3">
            <li>
              <fa-icon [icon]="faUser"></fa-icon> {{noticia.miembroCreador.alias}}
            </li>
            <li>
              <fa-icon [icon]="faCalendar"></fa-icon> {{noticia.fechaPublicacion | date: 'dd/MM/yyyy'}}
            </li>
          </ul>
          <p>{{noticia.cuerpo}} </p>
          <a [routerLink]="['/noticia-display', noticia._id]" class=" btn btn-primary mt-3">Ver detalles</a>
        </div>
      </section>
    </div>
  </article>
  <pagination-controls class="text-center" (pageChange)="page=$event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>

</main>