<main class="container-fluid">
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <app-titulo-private></app-titulo-private>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form class="form-horizontal" role="form">
            <div class="form-body">
              <h3 class="box-title">Información del perfil</h3>
              <hr class="m-t-0 m-b-40">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label col-4">Nombre:</label>
                    <div class="col-8">
                      <p class="form-control-static">John </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label col-4">Apellidos:</label>
                    <div class="col-8">
                      <p class="form-control-static">Doe</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label col-4">Correo electrónico:</label>
                    <div class="col-8">
                      <p class="form-control-static">john@ejemplo.com</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label col-4">Fecha de nacimiento:</label>
                    <div class="col-8">
                      <p class="form-control-static">11/06/1987 </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label col-4">Alias:</label>
                    <div class="col-8">
                      <p class="form-control-static">alias de john </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label col-4">Número de teléfono:</label>
                    <div class="col-6">
                      <p class="form-control-static">677543563</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label col-4">Dirección:</label>
                    <div class="col-8">
                      <p class="form-control-static">C/Falsa Nº123</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label col-4">DNI</label>
                    <div class="col-6">
                      <p class="form-control-static">77582150E</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label col-4">Aficiones:</label>
                    <div class="col-8">
                      <p class="form-control-static">Cosas que tienen mucho texto, así que vamos a poner muchas cosas aquí</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label col-4">Coche propio:</label>
                    <div class="col-8">
                      <p class="form-control-static">Sí</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label col-4">Fotografía:</label>
                    <div class="col-8">
                      <img src="./assets/images/junta-presidente.jpg" class="form-control-static img-fluid img-thumbnail w-50" />
                    </div>
                  </div>
                </div>
              </div>
              <h3 class="box-title m-t-30">Cuenta de usuario</h3>
              <hr class="m-t-0 m-b-40">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label col-4">Usuario:</label>
                    <div class="col-8">
                      <p class="form-control-static">pepito</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="control-label col-4">Rol:</label>
                    <div class="col-8">
                      <p class="form-control-static"> Visitante</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-actions">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                      <button type="submit" class="btn btn-info"> <i class="fa fa-pencil"></i> Editar</button> </div>
                  </div>
                </div>
                <div class="col-md-6"> </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>