<main class="container-fluid">
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <app-titulo-private></app-titulo-private>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header bg-purple">
          <h4 class="m-b-0 text-white">Edición</h4>
        </div>
        <div class="card-body">
          <form autocomplete="off" [formGroup]="perfilActorForm" (ngSubmit)="editarPerfil()">
            <div class="form-body">
              <h3 class="card-title">Información del perfil</h3>
              <hr>
              <div class="row p-t-20">
                <div class="col-md-6">
                  <div class="form-group" [ngClass]=" {'has-danger': formEnviado && validarCampo('nombre')}">
                    <label for="nombre" class="control-label">Nombre</label>
                    <div class="input-group">
                      <input type="text" id="nombre" formControlName="nombre" class="form-control"
                        [ngClass]="{'form-control-danger': formEnviado && validarCampo('nombre')}">
                    </div>
                    <div *ngIf="formEnviado && validarCampo('nombre')" class="form-control-feedback">Debes indicar un nombre</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" [ngClass]=" {'has-danger': formEnviado && validarCampo('apellidos')}">
                    <label for="apellidos" class="control-label">Apellidos</label>
                    <div class="input-group">
                      <input type="text" id="apellidos" formControlName="apellidos" class="form-control"
                        [ngClass]="{'form-control-danger': formEnviado && validarCampo('apellidos')}">
                    </div>
                    <div *ngIf="formEnviado && validarCampo('apellidos')" class="form-control-feedback">Debes indicar unos apellidos</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" [ngClass]=" {'has-danger': formEnviado && validarCampo('correoElectronico')}">
                    <label for="correoElectronico" class="control-label">Correo electrónico</label>
                    <div class="input-group">
                      <input type="text" id="correoElectronico" formControlName="correoElectronico" class="form-control"
                        [ngClass]="{'form-control-danger': formEnviado && validarCampo('correoElectronico')}">
                    </div>
                    <div *ngIf="formEnviado && validarCampo('correoElectronico')" class="form-control-feedback">Debes indicar un correo electrónico</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" [ngClass]=" {'has-danger': formEnviado && validarCampo('fechaNacimiento')}">
                    <label for="fechaNacimiento" class="control-label">Fecha de nacimiento</label>
                    <div class="input-group">
                      <input type="date" id="fechaNacimiento" formControlName="fechaNacimiento" class="form-control"
                        [ngClass]="{'form-control-danger': formEnviado && validarCampo('fechaNacimiento')}">
                    </div>
                    <div *ngIf="formEnviado && validarCampo('fechaNacimiento')" class="form-control-feedback">Debes indicar una fecha de nacimiento</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" *ngIf="!esVisitante">
                  <div class="form-group" [ngClass]="{'has-danger': !esVisitante && formEnviado && validarCampo('alias')}">
                    <label for="alias" class="control-label">Alias</label>
                    <div class="input-group">
                      <input type="text" id="alias" formControlName="alias" class="form-control"
                        [ngClass]="{'form-control-danger': formEnviado && validarCampo('alias')}">
                    </div>
                    <div *ngIf="!esVisitante && formEnviado && validarCampo('alias')" class="form-control-feedback">Debes indicar un alias
                    </div>

                  </div>
                </div>
                <div class="col-md-6" *ngIf="esVisitante">
                  <div class="form-group">
                    <label for="alias" class="control-label">Alias</label>
                    <div class="input-group">
                      <input type="text" id="alias" formControlName="alias" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-md-6" *ngIf="esVisitante">
                  <div class="form-group">
                    <label for="numeroTelefono" class="control-label">Número de teléfono</label>
                    <div class="input-group">
                      <input type="text" id="numeroTelefono" formControlName="numeroTelefono" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-md-6" *ngIf="!esVisitante">
                  <div class="form-group" [ngClass]="{'has-danger': !esVisitante && formEnviado && validarCampo('numeroTelefono')}">
                    <label for="numeroTelefono" class="control-label">Número de teléfono</label>
                    <div class="input-group">
                      <input type="text" id="numeroTelefono" formControlName="numeroTelefono" class="form-control"
                        [ngClass]="{'form-control-danger': formEnviado && validarCampo('numeroTelefono')}">
                    </div>
                    <div *ngIf="!esVisitante && formEnviado && validarCampo('numeroTelefono')" class="form-control-feedback">Debes indicar un número de
                      teléfono</div>
                  </div>
                </div>
              </div>
              <div *ngIf="!esVisitante">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-danger': !esVisitante && formEnviado && validarCampo('direccion')}">
                      <label for="direccion" class="control-label">Dirección</label>
                      <div class="input-group">
                        <input type="text" id="direccion" formControlName="direccion" class="form-control"
                          [ngClass]="{'form-control-danger': formEnviado && validarCampo('direccion')}">
                      </div>
                      <div *ngIf="!esVisitante && formEnviado && validarCampo('direccion')" class="form-control-feedback">Debes indicar una dirección</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-danger':!esVisitante &&  formEnviado && validarCampo('dni')}">
                      <label for="dni" class="control-label">DNI</label>
                      <div class="input-group">
                        <input type="text" id="dni" formControlName="dni" class="form-control"
                          [ngClass]="{'form-control-danger': formEnviado && validarCampo('dni')}">
                      </div>
                      <div *ngIf="!esVisitante && formEnviado && validarCampo('dni')" class="form-control-feedback">Debes indicar un DNI</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-danger': !esVisitante && formEnviado && validarCampo('aficiones')}">
                      <label for="aficiones" class="control-label">Aficiones</label>
                      <div class="input-group">
                        <input type="text" id="aficiones" formControlName="aficiones" class="form-control"
                          [ngClass]="{'form-control-danger': formEnviado && validarCampo('aficiones')}">
                      </div>
                      <div *ngIf="!esVisitante && formEnviado && validarCampo('aficiones')" class="form-control-feedback">Debes indicar unas aficiones</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-danger': !esVisitante && formEnviado && validarCampo('tieneCochePropio')}">
                      <label for="tieneCochePropio" class="control-label">Coche propio</label>
                      <div class="input-group">
                        <select id="tieneCochePropio" formControlName="tieneCochePropio" class="form-control selectpicker" title="Disposición de coche propio">
                          <option value="true">Sí</option>
                          <option value="false">No</option>
                        </select>
                      </div>
                      <div *ngIf="!esVisitante && formEnviado && validarCampo('tieneCochePropio')" class="form-control-feedback">Debes indicar si tiene coche
                        propio</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-danger': !esVisitante && formEnviado && validarCampo('estaDeAlta')}">
                      <label for="estaDeAlta" class="control-label">Está de alta</label>
                      <div class="input-group">
                        <select id="estaDeAlta" formControlName="estaDeAlta" class="form-control selectpicker" title="Está de alta">
                          <option value="true">Sí</option>
                          <option value="false">No</option>
                        </select>
                      </div>
                      <div *ngIf="!esVisitante && formEnviado && validarCampo('estaDeAlta')" class="form-control-feedback">Debes indicar si el miembro está de
                        alta</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-danger': !esVisitante && formEnviado && validarCampo('cantidadPenalizaciones')}">
                      <label for="cantidadPenalizaciones" class="control-label">Penalizaciones</label>
                      <div class="input-group">
                        <input type="number" min="0" id="cantidadPenalizaciones" formControlName="cantidadPenalizaciones" class="form-control"
                          [ngClass]="{'form-control-danger': formEnviado && validarCampo('cantidadPenalizaciones')}">
                      </div>
                      <div *ngIf="!esVisitante && formEnviado && validarCampo('cantidadPenalizaciones')" class="form-control-feedback">Debes indicar el número
                        de penalizaciones y ser mayor o igual a 0</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-danger': !esVisitante && formEnviado && validarCampo('numeroSocio')}">
                      <label for="numeroSocio" class="control-label">Número de socio</label>
                      <div class="input-group">
                        <input type="number" min="1" id="numeroSocio" formControlName="numeroSocio" class="form-control"
                          [ngClass]="{'form-control-danger': formEnviado && validarCampo('numeroSocio')}">
                      </div>
                      <div *ngIf="!esVisitante && formEnviado && validarCampo('numeroSocio')" class="form-control-feedback">Debes indicar el número de socio y
                        ser mayor o igual a 1</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-danger': !esVisitante && formEnviado && validarCampo('rol')}">
                      <label for="rol" class="control-label">Rol</label>
                      <div class="input-group">
                        <select id="rol" formControlName="rol" class="form-control selectpicker" title="Rol">
                          <option value="ESTANDAR">Miembro estandar</option>
                          <option value="VOCAL">Vocal</option>
                          <option value="SECRETARIO">Secretario</option>
                          <option value="VICEPRESIDENTE">Vicepresidente</option>
                          <option value="PRESIDENTE">Presidente</option>
                        </select>
                      </div>
                      <div *ngIf="!esVisitante && formEnviado && validarCampo('rol')" class="form-control-feedback">Debes indicar el rol del miembro</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" id="rowFotografia">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="fotografia" class="control-label">Fotografía</label>
                    <div class="input-group">
                      <div class="input-group">
                        <input name="File" type="file" id="fotografia" class="dropify" data-height="300" data-allowed-file-extensions="png jpg jpeg"
                          (change)="onFileChange($event)" data-default-file="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <h3 class="card-title p-t-30">Información de usuario</h3>
              <hr>
              <div class="row p-t-20">
                <div class="col-md-4">
                  <div class="form-group" [ngClass]="{'has-danger': formEnviado && validarCampo('usuario')}">
                    <label for="usuario" class="control-label">Usuario</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="ti-user"></i></div>
                      <input type="text" id="usuario" formControlName="usuario" class="form-control"
                        [ngClass]="{'form-control-danger': formEnviado && validarCampo('usuario')}">
                    </div>
                    <div *ngIf="formEnviado && validarCampo('usuario')" class="form-control-feedback">Debes indicar tu usuario</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="contraseñaNueva" class="control-label">Nueva contraseña</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="ti-lock"></i></div>
                      <input type="password" id="contraseñaNueva" formControlName="contraseñaNueva" class="form-control">
                    </div>
                    <small class="form-text text-muted">Si dejas la contraseña en blanco no será cambiada</small>
                  </div>
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Guardar</button>
                <button *ngIf="actor" type="button" [routerLink]="['/private/actor/display', actor._id]" class=" btn btn-inverse">Cancelar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>